== Dear #{@organization.name},

Participation Request Status: Accepted

== We are pleased to inform you that your participation request has been approved.

= h @organization.comments.last.body

Sincerely,

The Global Compact Office

United Nations Global Compact
Two United Nations Plaza
New York, NY 10017
Email: globalcompact@un.org
Website: www.unglobalcompact.org
