%p== Dear #{@contact.name_with_title},

%p== First, we wish to congratulate #{@organization.name} on becoming an official participant in the UN Global Compact. Your endorsement is a strong demonstration of your company's leadership and vision in advancing the tenets of corporate sustainability and the principles of the UN Global Compact.

%p In this regard, we are writing to invite you to consider making an annual voluntary contribution to help support the activities and work projects of the UN Global Compact. As you know, the UN Global Compact strives to deliver maximum value to participants through a range of special initiatives, projects, conferences, and focused workstreams and resources.

%p A contribution from your organization would assist the UN Global Compact in continuing to deliver such value, especially given the growth of the initiative and the expanding engagement opportunities and workstreams.

%p Following are suggested contribution amounts for companies based on annual sales/revenues:

%table{:border => 1, :cellspacing => 0, :cellpadding => 10}
  %tr
    %th
      Annual sales/revenues
    %th
      Suggested Contribution
  %tr
    %td{:align => 'right'}
      USD 5 billion or more
    %td
      USD 15,000+
  %tr
    %td{:align => 'right'}
      USD 1 billion and USD 5 billion
    %td
      USD 10,000 - 15,000
  %tr
    %td{:align => 'right'}
      USD 250 million and USD 1 billion
    %td
      USD 5,000 - 10,000
  %tr
    %td{:align => 'right'}
      USD 50 million and USD 250 million
    %td
      USD 2,500 - 5,000
  %tr
    %td{:align => 'right'}
      less than USD 50 million
    %td
      USD 250 (suggested minimum)

%p==The following link will take you to the online donation page of the Foundation's website where you can make your contribution by credit card: http://globalcompactfoundation.org/donate/?invoice=#{@organization.invoice_id}

%p Additional payment methods *

%p
  %strong (1) Check/money order

%p
  Foundation for the Global Compact (EIN number 16-1756484)
  %br/
  801 Second Avenue, 2nd Floor
  %br/
  New York, NY 10017
  %br/
  USA

%p
  %strong (2) Wire Payment

%p
  %em The Foundation for the Global Compact kindly requests that your company cover any transfer fees charged by your financial institution

%p
  Account name: Foundation for the Global Compact
  %br/
  Bank: Wells Fargo Bank, N.A. 420 Montgomery St., San Francisco, CA 94104, USA 
  %br/
  Account number: 7348801387
  %br/
  Routing/Transit number (ABA/RTN): 121000248
  %br/
  Swift Code (BIC): WFBIUS6S
  %br/
  Chips: 0407

%p
  %strong (2) ACH Payment
  
%p
  ABA Routing Number: 026012881
  %br/
  Account Number: 7348801387
  
%strong Please note:
Contributions cannot be credited to your company unless payments include the following Invoice ID:
%strong= @organization.invoice_id

%p Again, we thank you for your generous support.

%p Sincerely,

%p The Foundation for the Global Compact
