== Dear #{@contact.name_with_title},

%p== Thank you very much for the letter from #{@organization.name} to the UN Secretary-General expressing commitment to implement the UN Global Compact's principles in the areas of human rights, labour, environment and anti-corruption.

%p Beginning on 1 January 2018, we will revise our criteria to accept applications from companies and organizations with fewer than ten direct employees. At this time, we encourage you to re-apply via our online platform.

%p== In the meantime, we hope you remain informed about the UN Global Compact through our website #{link_to 'www.unglobalcompact.org', 'http://www.unglobalcompact.org/' }. It contains information and tools on a range of corporate responsibility issues, including the Ten Principles, as well as partnerships for development, business and peace, financial markets, and management education.

%p== Also you may wish to subscribe to our monthly #{link_to 'UN Global Compact Bulletin', 'http://www.unglobalcompact.org/NewsAndEvents/UNGC_bulletin/'}, which includes recent news, updates and resources.

%p Once again, thank you for your interest in the UN Global Compact and your organization's pursuit of responsible business practices.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: info@unglobalcompact.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org
