== Dear #{@organization.name},

Participation Request Status: Declined

Add contents of ungc_site/master/includes/email_content/microenterprise_rejection_letter.txt

Sincerely,

The Global Compact Office

United Nations Global Compact
Two United Nations Plaza
New York, NY 10017
Email: globalcompact@un.org
Website: www.unglobalcompact.org
