<section class="main-content-section sdgs main-content-section-narrow">
  <div class="wrapper center">
    <header class="main-content-header"><h1>Data found in the COPs about activities to support advancing the Sustainable Development Goals</h1></header>
    <div class="wrapper">
      <div class="sdg-index-button center"><%= link_to 'Explore SDGs Globally',  data_visualization_sdgs_global_path %></div>
      <div class="sdg-index-button center"><%= link_to 'Explore SDGs by Region',  data_visualization_sdgs_regions_path %></div>
      <div class="sdg-index-button center"><%= link_to 'Explore SDGs by Country',  data_visualization_sdgs_countries_path %></div>
    </div>

    <div class="wrapper white-bg full">
      <div id="sdg-vis" class="center"><%= link_to 'Return to the Interactive Page', data_visualization_index_path %></div>
    </div>
  </div>
</section>
