%p In addition to meeting the Advanced Level criteria, LEAD companies must meet an additional 20 criteria not covered in the Advanced Level in the areas of &ldquo;Action in Support of Broader UN Goals and Issues&rdquo; and &ldquo;Engagement with the Global Compact.&rdquo; Please confirm that your COP meets <strong>each</strong> of the following criteria.
