%p By clicking on the 'Submit' button on the right, you will publish your COP on our website. Thank you very much for your support of the Global Compact.

%p We would like to thank you for submitting your annual Communication on Progress (COP) on the Global Compact website. Also, filling out the COP Questionnaire will greatly improve the searchability and usefulness of your COP and allow us to feature good practices that could be learned and replicated by other participants. 

%p Many thanks for all you do to support the Global Compact. Please do not hesitate to contact us if there is anything we can do to be of service. 

%p Kind regards,

%p The Global Compact Office