%p By clicking on the 'Submit' button on the right, you will publish your COP on our website. Thank you very much for your support of the Global Compact.

%p We would like to thank you for submitting your annual Communication on Progress (COP) on the Global Compact website. 

%p We also welcome your application to the COP Notable Program. If your COP complies at least with the minimum criteria of the Notable Program criteria, we will be pleased to feature it and give it special recognition on the Global Compact website. 

%p We do hope your COP can serve as an illustrative and inspirational example for other participants. 

%p Many thanks for all you do to support the Global Compact. 

%p The Global Compact Office
