%p In order to track your progress year to year, it is important that we keep a history of your annual disclosure in our records. 

%div{:class => 'hint_toggle'}
  Create a PDF file

%div{:class => "hint_text", :style => 'display: none;'}
  %p
    If your COP is entirely web-based, please create a PDF file of your website. We suggest using one of the following free tools, however the Global Compact makes no representation of the software available at the following links:
    %ul
      %li{:style => 'list-style-type: disc;'}= popup_link_to 'PDFmyURL','http://pdfmyurl.com/'
      %li{:style => 'list-style-type: disc;'}= popup_link_to 'pdfcrowd','http://pdfcrowd.com/'
      %li{:style => 'list-style-type: disc;'}= popup_link_to 'PDFCreator','http://www.pdfforge.org/pdfcreator'
  
  %p Once you have created your PDF file, please upload your COP below: