= render :partial => 'admin/cops/texts/submission_screen_text'

%p We would like to thank you for submitting your annual Communication on Progress (COP) on the Global Compact website. We also highly appreciate your time filling out the COP Questionnaire. This will greatly improve the searchability and usefulness of your COP and allow us to feature good practices that could be learned and replicated by other participants.

%p In addition, we welcome your application to the COP Notable Program. If your COP complies at least with the minimum criteria of the Notable Program, we will be pleased to feature it and give it special recognition on the Global Compact website.

%p We do hope your COP can serve as an illustrative and inspirational example for other participants.

%p Many thanks for all you do to support the Global Compact.

%p The Global Compact Office
