%p Thank you for submitting your company&rsquo;s Communication on Progress (COP) to the United Nations Global Compact website. Unfortunately, we are unable to publish it to the Global Compact website because it does not meet at least one of the following basic requirements defined in our COP policy:

%p 1. During the first five years of participation, a Communication on Progress should include relevant commitments, policies, descriptions of management systems, procedures or concrete activities that illustrate how your company implements at least two of the four issue areas covered by the Global Compact principles.

%p 2. Every COP should identify targets, define performance indicators and measure outcomes.

%p
Please find more information on our COP policy at:
=popup_link_to 'http://www.unglobalcompact.org/COP/','http://www.unglobalcompact.org/COP/'

%p We kindly invite you to re-submit your COP once the requested changes are made. 

%p Many thanks for all you do to support the UN Global Compact. 

%p The Global Compact Office