%p Thank you for submitting your company&rsquo;s Communication on Progress (COP) to the United Nations Global Compact website. Unfortunately, we are unable to publish it to the Global Compact website because it does not meet the basic requirements defined in our COP policy.

%p While there is no standard format for COPs, the policy requires that every COP include the following three elements:

%p 1. Statement of continued support for the Global Compact;
%p 2. Description of practical actions that participants have taken since joining the initiative or since the company&rsquo;s most recent COP to: (i) implement the Global Compact principles and (ii) undertake partnership projects in support of broader UN goals;
%p 3. Measurement of outcomes or expected outcomes using, where possible, indicators or metrics such as the Global Reporting Initiative (GRI) Guidelines.

%p The COP that you submitted is insufficient with respect to the first element. The COP must contain a statement by your chief executive (or equivalent) expressing continued support for the Global Compact and renewing your ongoing commitment to the initiative and its principles. Additionally, the statement of continued support ideally includes reasons why your company participates in the Global Compact and refers to major activities or outcomes associated with the implementation of the Global Compact&#x27;s principles in your corporate operations and strategy.	

%p We kindly invite you to re-submit your COP once the requested changes are made. 

%p Many thanks for all you do to support the UN Global Compact. 

%p The Global Compact Office
