= render :partial => 'admin/cops/texts/submission_screen_text'

%p We would like to thank you for submitting your annual Communication on Progress (COP) on the Global Compact website. We also highly appreciate your time filling out the COP Questionnaire. This will greatly improve the searchability and usefulness of your COP and allow us to feature good practices that could be learned and replicated by other participants.

%p Many thanks for all you do to support the Global Compact.

%p The Global Compact Office
