%p Thank you for submitting your company's Communication on Progress (COP). In order to track your progress year on year, it is important that we keep a history of your annual disclosure in our records. 
%p
  Since your COP is entirely web-based, we strongly recommend that you create a PDF file from your COP. We suggest using the following web-based tool, however the Global Compact makes no representation of the software available at the following link:
  =popup_link_to 'PDFmyURL','http://pdfmyurl.com/'
%p Once you have created your PDF file, you are invited to upload your COP below.