%p== Thank you for revising your Communication on Progress (COP) and taking into account our recommendations.  We would like to remind you that your COP submission deadline is on #{@organization.cop_due_on} at the latest. We look forward to reviewing and publishing your amended COP.

%p Many thanks for all you do to support the Global Compact.

%p The Global Compact Office
