%p The Global Compact Office will accept a Grace Period Letter instead of a Communication on Progress (COP) when a participant commits to submit a COP within 90 days. The Grace Period Letter must explain both why the COP is delayed in its production as well as the date you expect to have it completed by.

%p
  For more information, please see
  =popup_link_to 'Communicating Progress','/COP/'

%p Many thanks for all you do to support the UN Global Compact. 

%p The Global Compact Office