%p Unfortunately, we are unable to publish your Communication on Progress to the Global Compact website because it does not meet at least one of the following basic requirements defined in our COP policy:

%p 1)	During the first five years of participation, a Communication on Progress should include relevant commitments, policies, descriptions of management systems, procedures or concrete activities that illustrate how your company implements <strong>at least two of the four issue areas covered by the Global Compact principles.</strong>

%p 2) Every COP should <strong>identify targets, define performance indicators and measure outcomes.</strong>

%p We kindly invite you to re-submit your COP once the requested changes are made. 

%p For more information on the Communication on Progress, please visit: http://www.unglobalcompact.org/COP/

%p In addition, we encourage you to contact our existing Global Compact Local Networks for further assistance.  Please visit: http://www.unglobalcompact.org/NetworksAroundTheWorld/

%p Many thanks for all you do to support the UN Global Compact.  

%p The Global Compact Office
