%h3 Pages

%p
  = content_tag :button, 'Save changes', class: 'save_tree', rel: save_tree_admin_pages_path

#page_tree_wrapper.clearfix
  #tree_container.outside
    #tree.inside

  #page_container.outside
    #page
      #loading{style: 'display:none'} 
        Loading...
      #replaceMe.inside
        = render :partial => 'page' if @page

- content_for :postscript do
  = render :partial => 'treeview'
