%h3 Pages
          
%p= link_to 'Create a page', new_admin_page_path(:section=>params[:section])

- pages_and_sections_for(params[:section]).each do |page_or_section|
  %div
    = link_to_page_or_section page_or_section