Dear <%= @nominee %>,

<p> We are writing to inform you that you have been nominated for the UN Global Compact's new <a href="https://www.unglobalcompact.org/what-is-gc/our-work/sustainable-development/global-goals-local-business/sdgpioneers" target="_blank">Local SDG Pioneer</a> programme.</p>

<p> If you have not done so already, we hope that you will accept the nomination by submitting your story of making the global goals local business online. You can access the nomination form <a href="https://www.unglobalcompact.org/what-is-gc/our-work/sustainable-development/global-goals-local-business/sdgpioneers/nominate-yourself/new">here</a>. The deadline to complete the nomination is <strong>Saturday, 30 April.</strong></p>

<p> Note that your candidacy for the Global Compact's Local SDG Pioneer programme is not finalized until you have submitted your story online. Nominees are required to complete the submission form themselves to ensure that the information is up to date.</p>

<p>We look forward to learning more about your efforts to make <em>global goals local business.</em></p>

<p>Kind regards,</p>
<p>Local SDG Pioneer Secretariat</p>
