Dear <%= @nominee %>,

<p> We are writing to inform you that you have been nominated to be a UN Global Compact <a href="https://www.unglobalcompact.org/sdgs/sdgpioneers/" target="_blank">SDG Pioneer</a>.</p>

<p> If you have not done so already, we hope that you will accept the nomination by submitting your story of how you have helped achieve the Sustainable Development Goals. You can access the nomination form <a href="https://www.unglobalcompact.org/sdgs/sdgpioneers/nominate-yourself/new">here</a>. The deadline to complete the nomination is <strong>Friday, 22 June.</strong></p>

<p> Note that you will not be considered to be a Global Compact SDG Pioneer until you have submitted your story online. Nominees are required to complete the submission form themselves to ensure that the information is up to date.</p>

<p>We look forward to learning more about your efforts.</p>

<p>Kind regards,</p>
<p>UN Global Compact</p>
