<li class='filter-option'>
  <%- field_name = "search[#{filter}][]" -%>
  <%- id = "search_#{filter}_#{option.id}" -%>
  <%= check_box_tag field_name, option.id, option.selected?, {id: id, active: option.selected?} %>
  <%= label_tag id, raw(option.name.gsub("\n", "<br/>")) %>
  <%= yield %>
</li>
