<div class="nav">
  <a class="back" href="/library">
<<<<<<< HEAD
    Back to Listings
=======
    Back to Listing
>>>>>>> detail page
  </a>
  <div class='results-count'>
    <div>
      <a class="previous-page"> Previous </a>
      Results 10 of 500
      <a class="next-page"> Next </a>
    </div>
  </div>
</div>
