<nav id='section-nav'>
  <button id='section-nav-trigger'>In this section</button>
  <%- nav = @page.section_nav %>

  <article id='section-nav-container'>
    <div>
      <%= content_tag(:h1, link_to(nav.parent.title, nav.parent.path)) if nav.parent %>
      <ul class='section-nav-siblings'>
        <%- nav.siblings.each do |sibling| -%>
          <li>
            <%= link_to(sibling.title, sibling.path, class: "#{"current" if sibling.is_current}") %>
            <%- if sibling.is_current && nav.children.any? -%>
              <ul class='section-nav-children'>
                <%- nav.children.each do |child| -%>
                  <li><%= link_to(child.title, child.path) -%></li>
                <%- end -%>
              </ul>
            <%- end -%>
          </li>
        <%- end -%>
      </ul>
    </div>
  </article>
</nav>
