%h2 Edit Memorandum of Understanding

- form_for @mou, builder: DefaultFormBuilder, :url => admin_local_network_mou_path(@local_network, @mou) do |form|
  = render :partial => form
  = form.submit 'Update', :class => 'button'

