%h2 New Memorandum of Understanding

- form_for @submodel, builder: DefaultFormBuilder, :url => submodels_path, :html => {:multipart => true} do |form|
  = render :partial => form
  = form.submit 'Create', :class => 'button'

