log/*.log
log/*.pid
db/*.db
db/*.sqlite3
db/*.sqlite3-journal
db/*.sql
db/sphinx/*
config/development.sphinx.conf
db/schema.rb
tmp/**/*
tmp/*
.DS_Store
doc/api
doc/app
config/database.yml
public/system/attachments/**/*
public/system/zips/**/*
public/system/commitment_letters/**/*
coverage.data
coverage/*
.sass-cache/*