.DS_Store
.rvmrc
.vagrant
config/database.yml
config/development.sphinx.conf
config/environments/development.rb
coverage.data
coverage/*
db/*.db
db/*.sql
db/*.sqlite3
db/*.sqlite3-journal
db/schema.rb
db/sphinx/*
doc/api
doc/app
lib/un7_tables
log/*
log/*.pid
public/docs
public/index.html
public/pics
public/stylesheets/sass/.sass-cache/
public/system/attachments/**/*
public/system/commitment_letters/**/*
public/system/previews/**/*
public/system/zips/**/*
public/uploaded_files
tmp/*
tmp/**/*
Vagrantfile
