/.bundle
.DS_Store
/.rvmrc
/.vagrant
/config/database.yml
/config/development.sphinx.conf
/coverage.data
/coverage/*
/db/*.db
/db/*.sql
/db/*.sqlite3
/db/*.sqlite3-journal
/db/sphinx/*
/doc/api
/doc/app
/lib/un7_tables
/log/*.log
/log/*.pid
/public/docs
/public/index.html
/public/pics
/public/system/
/public/stylesheets/sass/.sass-cache/
/public/system/attachments/**/*
/public/system/commitment_letters/**/*
/public/system/previews/**/*
/public/system/zips/**/*
/public/uploaded_files
/tmp
/Vagrantfile
