<%= render 'redesign/components/meta_tags' %>
<%= render 'redesign/components/hero' %>

<%= render 'form', title: @page.meta_title.html_safe %>

<section class='main-content-section main-content-section-wide'>
  <%= participants_table(@search, @results) %>
</section>
