%meta{property: "og:url", content: participant_url(participant)}
%meta{property: "og:title", content: participant.name}
%meta{property: "og:description", content: "See how #{participant.name} is helping create the world we all want"}
%meta{property: "og:image", content: image_url('twitter-card-participant-profile.jpg')}
