%meta{property: "og:url", content: participant_url(participant)}
%meta{property: "og:title", content: participant.name}
%meta{property: "og:description", content: "Description"}
%meta{property: "og:image", content: "http://graphics8.nytimes.com/images/2011/12/08/technology/bits-newtwitter/bits-newtwitter-tmagArticle.jpg"}
