%meta{name: "twitter:card", content: "summary_large_image"}
%meta{name: "twitter:image", content: image_url('twitter-card-participant-profile.jpg')}
%meta{name: "twitter:title", content: participant.name}
%meta{name: "twitter:site", content: "@#{twitter.handle}"}
%meta{name: "twitter:description", content: "See how #{participant.name} is helping create the world we all want"}

