%h2 Password reset

%p
  Enter your email address in the form below, and we'll let you reset your password.

- form_tag password_path do 
  %p
    = label_tag :email
    %br/
    = text_field_tag :email
    
  %p= submit_tag 'Go'
  
= link_to 'I just remembered my password!', login_path