%h2 Reset your password

%p
  Please enter your email address below. You will receive an email with instructions on choosing a new password.

- form_tag password_path do
  %fieldset
    %ol
      %li
        = label_tag :email
        = text_field_tag :email

  = submit_tag 'Submit', :class => 'button'

- if flash.now[:error]
  %h3 Why could you not find my username?
  
  %ul
    %li The email address was typed incorrectly
    %li Your current email address has changed, but has not been updated in your account settings
    %li You have not been added as a Contact Point for your organization

  %h3 How can I update my email address?

  %ul
    %li Request the Contact Point in your organization to update your account, or add you as an additional Contact Point
    %li
      If you do not know your organization's Contact Point, please email 
      = mail_to "globalcompact@un.org", "globalcompact@un.org", :subject => "Username and Password Request"
      and provide your organization's name
    %li Once you have received your login information, please be sure to keep your account profile updated with your current email address