<%= render 'components/meta_tags' %>
<%= render 'components/hero' %>

<%= render 'form', title: @page.meta_title.html_safe %>

<section class='main-content-section main-content-section-wide'>
  <div class='wrapper'>
    <%= participants_table(@search, @results) %>
  </div>
</section>
