%h2 New Policy

%div.hint_toggle
  About Awards...
%div.hint_text{:style => 'display: none;'}
  %p Awards are given to

- form_for @submodel, builder: DefaultFormBuilder, :url => submodels_path, :html => {:multipart => true} do |form|
  = render :partial => form
  %ul{:class => "tools inline" :style => 'float: right;'}
    %li= link_to 'Cancel', return_url, :class => 'cancel_large'
    %li= form.submit 'Create', :class => 'button'