%h2 Edit Meeting

- form_for @submodel, builder: DefaultFormBuilder, :url => submodel_path(@submodel), :html => {:multipart => true} do |form|
  = render :partial => form
  = form.submit 'Update', :class => 'button'

