*:focus
  outline: none

*, *:before, *:after
  box-sizing: border-box
  +animation-timing-function($material-swift)
  +transition-timing-function($material-swift)

html,
body
  height: 100%

body
  margin: 0
  padding: 0
  background: white
  color: color('dark-grey')
  min-width: 300px

  &.navigation-active
    overflow: hidden

abbr[title]
  border-bottom: 0

a,
button,
label,
input[type='submit']
  cursor: pointer
  text-decoration: none

a
  color: color('light-blue')

  &:hover,
  &:active
    color: color('teal')

body,
input,
select,
textarea
  font: 400 16px/1.5 $roboto
  @media only print
    font-size: 12pt

input,
select,
textarea
  background: #fdfdfd
  border: 1px solid #ccc

  +placeholder
    color: #999

  &:focus
    border-color: color('light-blue')
    background: white

p,
ul,
ol,
blockquote
  margin:
    top: 0
    bottom: 1.5em

  &:last-child
    margin-bottom: 0

ul,
ol
  padding: 0 0 0 1.25em

h1,
h2,
h3,
h4,
h5,
h6
  font:
    family: $flama-bold
    weight: 900
  +font-smoothing(antialiased)
  &:first-child
    margin-top: 0

address
  font-style: normal

hr
  border:
    width: 0 0 1px
    color: #ccc
    style: none none solid
  margin: 0 0 1.5em

table
  width: 100%
  border:
    collapse: collapse
    spacing: 0

%wrapper
  position: relative
  margin: 0 auto
  padding: 0
  max-width: 1280px
  +clearfix

.wrapper
  @extend %wrapper

main
  z-index: 1
  min-height: 10em
  box-sizing: content-box
