<%= render partial: 'redesign/components/meta_tags' %>
<%= render partial: 'redesign/components/hero' %>

<form id="filters-form">
    <header>
      <h1>
        The search index is being updated
      </h1>

    </header>
</form>
<section class='main-content-section main-content-section-narrow search-results-section'>
  <div class='wrapper'>
    <p>
    This allows us to provide you with the latest results.
    <br>
    Please try again in a few minutes.
    </p>
  </div>
</section>
