%h2 Sign up

%h3 Your details

- form_for(@contact, :url => organization_step3_path) do |form|
  = render :partial => 'contact_form', :locals => {:form => form, :account_info => true}

  %p
    = form.submit 'Next'
