- @css = ['forms', 'application_form']
%h1== #{signup_type} Organization Application

= flash_messages_for :error

%h2 Letter of Commitment
#main_content

  %p Please ensure that your Letter of Commitment has been signed by your organization's chief executive and scanned for upload before completing this form. The uploaded file should be in PDF format.

  - form_for(@organization, :url => organization_step6_path, :html => { :multipart => true }) do |form|
    %p= form.file_field :commitment_letter, { :label => '&nbsp;' }
    = form.submit 'Submit', :class => 'button'
