- @css = ['forms', 'application_form']
%h1== #{signup_type} Organization Application
%h2 Contact Information

#main_content
  - form_for(@contact, url: organization_step3_path) do |form|
    = form.error_messages
    = render :partial => 'contact_form', :locals => {:form => form, :account_info => true}
    = form.submit 'Next', :class => 'button'
