%h1 Organization Registration

%h2 Contact information for the highest level executive

- form_for(@ceo, :url => organization_step4_path) do |form|
  = render :partial => 'contact_form', :locals => {:form => form, :account_info => false}

  %p
    = form.submit 'Next'
