- @css = ['forms', 'application_form']
%h1== #{signup_type} Organization Application
%h2 Contact information for the highest level executive

#main_content
  - form_for(@ceo, :url => organization_step4_path) do |form|
    = form.error_messages
    = render :partial => 'contact_form', :locals => {:form => form, :account_info => false}
    = form.submit 'Next', :class => 'button'
