#new_business,
#new_other,
  fieldset
    margin-bottom: 4em

.attachment
  .delete
    +fa-icon
    content: $fa-var-play-circle
    position: relative
    top: .05em
    margin-left: .25em
    float: right


input[type=file]
  padding: 0.3em 0em

div.field_with_errors
  display: inline

.ui-autocomplete
  z-index: 1
  background-color: white
  list-style: none
  border-top: none
  border: 1px solid #ccc
  border-radius: 0.25em
  padding: 0.5em
  background: #fdfdfd
  max-width: 40em
