%tr
  %td= link_to attachment.attachment_file_name, attachment.attachment.url
  %td= number_to_human_size(attachment.attachment_file_size)
  %td= dd_month_yyyy attachment.attachment_updated_at
  %td
    %ul.actions
      %li= link_to 'Delete', attachment_path(attachment), :confirm => 'Are you sure you want to delete this file?', :method => :delete, :class => 'delete', :title => 'Delete file'

