%h2 Edit headline

= form_for @headline, url: admin_headline_path(@headline), builder: DefaultFormBuilder do |form|
  = render form
  %ul{class: "tools inline", style: 'float: right;'}
    %li= link_to 'Cancel', admin_headlines_path, class: 'cancel_large'
    %li= form.submit 'Save changes', class: 'button', style: 'float: right;'