%fieldset
  %legend
    %span Does your COP contain, if relevant, a description of policies and practices related to your company's operations in high-risk and/or conflict-affected areas?
  %div.hint_toggle Defining high-risk and conflict-affected areas...
  %div.hint_text{:style => 'display: none;'}
    %p.indent
      == You will be required to answer this question starting on 1 January 2014, and your answer will immediately be made visible to the public. In the interim, if you do not want your response to be visible to the public, please answer <strong>No</strong>. The Global Compact - PRI #{popup_link_to 'Guidance on Responsible Business and Investment in Conflict-Affected & High-Risk Areas (pdf)', '/docs/issues_doc/Peace_and_Business/Guidance_RB.pdf'} defines "high-risk" or "conflict-affected" areas as:
    %ul.bulleted{:style => 'margin-left: 3em;'}
      %li those that are not currently experiencing high levels of armed violence, but where political and social instability prevails;
      %li those in which there are serious concerns about abuses of human rights and political and civil liberties, but where violent conflict is not present;
      %li those that are currently experiencing violent conflict, including civil wars, armed insurrections and other types of organized violence, and those that are in transition from violent conflict to peace, often referred to as "post-conflict" (where there may be a risk of falling back into violent conflict).
    %p

  = true_or_false_field(form, :references_business_peace, :class => 'score')
