%fieldset
  %legend Links
  #cop_links
    - @communication_on_progress.cop_links.each_with_index do |cop_link, i|
      = render :partial => 'cop_link', :locals => {:cop_link => cop_link, :record => i}
  = link_to_function "new link", "$('#cop_links').append(replace_ids(cop_link_form))"
