%h3
  %span{:class => "#{issue_area_colour_for('human_rights')}" } Women's Empowerment
%p The following gender related COP Self-Assessment questions encourage and support companies to report on their progress towards implementing the Women’s Empowerment Principles.
%p== #{popup_link_to 'Women’s Empowerment Principle 7', 'http://weprinciples.org/Site/Principle7/'} highlights the importance of using sex-disaggregated data to measure and report on progress. The final question on sex-disaggregated data refers to data that is collected and presented separately on women and men. It is quantitative statistical information on the differences and inequalities between men and women.
%fieldset= render_cop_questions_for :additional, :initiative => :weps, :year => 2014