- new_cop_file_code = escape_javascript(render :partial => 'cop_file', :locals => {:cop_file => CopFile.new, :record => nil})
= javascript_tag("var cop_file_form = \"#{new_cop_file_code}\"")

%fieldset
  %legend Files
  #cop_files
    - @communication_on_progress.cop_files.each_with_index do |cop_file, i|
      = render :partial => 'cop_file', :locals => {:cop_file => cop_file, :record => i}
  = link_to_function "new file", "$('#cop_files').append(replace_ids(cop_file_form))"