%h3
  %span{:class => "#{issue_area_colour_for('business_peace')}" } ANNEX: Business & Peace
%p How does your COP demonstrate that your company is advancing responsible business practices aligned with your commitment to the Global Compact in high-risk and/or conflict-affected areas?  These areas differ significantly from more stable operating environments and require companies to take into consideration additional factors. For the following criteria, please check the policies and practices described in your COP.
%fieldset= render_cop_questions_for :business_peace, :year => 2013