- new_cop_file_code = escape_javascript(render :partial => 'cop_file', :locals => {:cop_file => @communication_on_progress.cop_file, :record => 'NEW_RECORD'})
= javascript_tag("var cop_file_form = \"#{new_cop_file_code}\"")

#cop_files
  - @communication_on_progress.cop_files.each_with_index do |cop_file, i|
    = render :partial => 'cop_file', :locals => {:cop_file => cop_file, :record => i}
%div{:id => 'new_cop_file', :class => 'new_page_large'} Additional PDF file
