%fieldset
  %fieldset
    %legend
      %span Communication Title
    %p{:class => 'question_text'}  Please choose a short title that includes the year your COP covers. You may choose the year of submission or the time period your COP covers.
    %p= form.text_field :title, :class => 'cop_answer', :value => "#{current_year} Communication on Progress", :style => 'margin: 0px;'