-if form.error_messages.present?
  %div{:class => 'flash error'}
    Please select a PDF file for upload.
%div{:class => "tab_container left_tabs"}
  %ul.tab_nav
    %li <a href="#grace">Grace Letter</a>
  #grace.tab_content
    %fieldset
      %fieldset
        %legend
          %span Please upload your "Grace Letter" as a PDF file
        = render :partial => 'cop_file', :locals => {:cop_file => CopFile.new(:attachment_type => CopFile::TYPES[:grace_letter]), :record => 0}
    = submit_tag 'Submit', :class => "button", :id => "finish"