= submit_tag 'Submit', :class => "button", :id => "finish", :confirm => "COPs are immediately published and made available to the public on the Global Compact website. Please carefully review your COP before submitting. Your answers cannot be modified after submission.n"
