%h2 Edit COP

= form_for(:communication_on_progress, url: admin_organization_communication_on_progress_path(@organization.id, @communication_on_progress.id), :html => { :multipart => true, :id => 'cop_form', :method => :put }) do |form|
  = render :partial => form
  %p
    = form.submit 'Save'
