%h2= @communication_on_progress.title

= form_for(:communication_on_progress, url: admin_organization_communication_on_progresses_path(@organization.id), html: {multipart: true, id: 'cop_form', novalidate: "novalidate"  }) do |form|
  = render :partial => @communication_on_progress.partial, :locals => { :form => form }
  = hidden_field_tag :type_of_cop, @communication_on_progress.type
