%h2== Communication on Progress

- form_for(:communication_on_progress, url: admin_organization_communication_on_progresses_path(@organization.id), :html => { :multipart => true, :id => 'cop_form' }) do |form|
  = render :partial => "#{@cop_partial}_form", :locals => { :form => form }