%h2 Submitting a Communication on Engagement (COE)

%div{:class => "tab_container top_tabs", :style => 'width: 60%;'}
  %ul.tab_nav
    %li <a href="#introduction">Introduction</a>
    %li <a href="#coe">Communication on Engagement</a>
    - if current_contact.submit_grace_letter?
      %li <a href="#grace">Grace Letter</a>

  #introduction.tab_content
    %p{:class => 'cop_description', :style => 'margin-top: 10px;'}
      %strong Please choose among the following options to publish your COP on the Global Compact website
    %p.cop_description
      %strong Basic Template:
      If you are new to the Global Compact, this Template will help you create your first COP.
      %p.cop_description
        %strong COP Submission:
        Use this tab if you have already created your COP, either integrated into your sustainability report or as a standalone report, and you are not aiming to qualify for the GC Advanced level.
    %p.cop_description
      %strong Advanced Level:
      Use this tab if your COP demonstrates a higher level of performance and disclosure and you would like to participate in the GC Advanced level.
    - if current_contact.submit_grace_letter?
      %p.cop_description
        %strong Grace Letter:
        == You can also submit a grace letter for a #{Organization::COP_GRACE_PERIOD} day extension to your COP deadline.
    - else
      %p.cop_description
        %strong Grace Letter:
        == This option is not available because you have already submitted a Grace Letter.

  #coe.tab_content
    %h3 Publish a COP on the Global Compact Website

    %p.cop_description Submit an electronic version of your COP (preferably a PDF file) and an optional link (URL) to the web page that contains the COP.

    %p= link_to 'New COE Submission', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'intermediate'), :class => 'new_page_large'

  - if current_contact.submit_grace_letter?
    #grace.tab_content
      %h3 Request a COP due date extension

      %p.cop_description== In cases where companies foresee a delay in their communication, the Global Compact Office may grant a grace period of #{Organization::COP_GRACE_PERIOD} days if a reasonable explanation for the delay is posted on the Global Compact website, including an expected date of COP submission.

      %p= link_to 'New Grace Letter', new_admin_organization_communication_on_progress_path(current_contact.organization.id, :type_of_cop => 'grace'), :class => 'new_page_large'
