%p
  %b Title:
  =h @communication_on_progress.title
%p
  %b Principles:
  %br/
  = @communication_on_progress.principles.collect(&:name).join('<br/>')

%h3 Comments
= link_to 'New comment', new_admin_communication_on_progress_comment_path(@communication_on_progress)
%ul
  = render :partial => @communication_on_progress.comments
