%p
  %b Title:
  =h @cop.title
%p
  %b Principles:
  %br/
  = @cop.principles.collect(&:name).join('<br/>')

%h3 Comments
= link_to 'New comment', new_communication_on_progress_comment_path(@cop)
%ul
  = render :partial => @cop.comments
