%h1 Dashboard
%small== for #{current_user.organization.name} staff

%ul
  %li= link_to 'Organizations', organizations_path
  %li
    = link_to 'Logo Requests', organization_logo_requests_path(current_user.organization)
    = link_to 'new', new_organization_logo_request_path(current_user.organization)
