- @title = 'Dashboard Overview'
- @body_class = 'details'
%h3= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>

  #overview.tab_content

    %dl.left_column{:style => 'width: 50%'}
      %h3 Welcome to the Dashboard

      %p Manage and share information about your Local Network with the Global Compact Office and learn about the activities of other networks.

      %dt.first Network Management
      %dd.first Create and update your Local Network's profile
      %dt Knowledge Sharing
      %dd Publish and share your events and activities
      %dt Browse Networks
      %dd View other Local Network profiles by Region
      %dt Learning
      %dd Find events and activities shared by other Networks
      %dt Reports
      %dd Download Excel files of participant and Local Network data