- @title = 'Dashboard Overview'
- @body_class = 'details'
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li= link_to 'Overview', '#overview'

  #overview.tab_content

    %dl.left_column{:style => 'width: 50%'}
      %h3 Local Networks Dashboard

      %p.cop_description Access the Knowledge Sharing information of Local Networks.

      %dt.first Browse Networks
      %dd.first View other Local Network profiles by Region
      %dt Learning
      %dd Find events and activities shared by other Networks