- @title = 'Dashboard Overview'
- @body_class = 'details'

%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>

  #overview.tab_content
  
    %dl.left_column
      %h3 Profile
      %dt.first Local Network
      %dd.first= @local_network.name
      %dt Development Stage
      %dd= @local_network.humanize_state
      -if @local_network.url.present?
        %dt Website
        %dd= link_to @local_network.url, @local_network.url

    %dl.left_column
      %h3 Recent Activity
      %dt.first Example Item
      %dd.first Sample Meeting Report
      %dt Example Newsletter
      %dd Sample Newsletter