%h1 Dashboard
%small for UNGC staff

%h3= link_to 'Organizations', organizations_path

%h3 Pending Logo Requests
- if @pending_logo_requests.any?
  %ul
    = render :partial => @pending_logo_requests
- else
  no work for you

%h3 Logo Requests that need attention
- if @unreplied_logo_requests.any?
  %ul
    = render :partial => @unreplied_logo_requests
- else
  no work for you
