- @title = 'Dashboard Overview'
- @body_class = 'details'
%h3= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>

  #overview.tab_content
  
    %dl.left_column
      %h3 Recent Activity
      %dt.first Example Item
      %dd.first Sample Meeting Report
      %dt Example Newsletter
      %dd Sample Newsletter