- @title = 'Dashboard Overview'
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#overview">Overview</a>
    %li <a href="#contacts">Contacts</a>

  #overview.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'Edit', edit_admin_local_network_path(current_user.local_network.id), :class => 'edit_large', :title => "Edit profile"

  #contacts.tab_content
    %ul#contacts_tools{:class => "tools inline"}
      %li= link_to 'New contact', new_admin_local_network_contact_path(current_user.local_network.id), :class => 'new_user_large', :title => 'New Contact'
    %ul.items= render :partial => "admin/contacts/tabbed_contact", :collection => current_user.local_network.contacts