= default_form.error_messages
%fieldset
  %ol
    = default_form.text_field :name
    = default_form.text_field :url, :label => 'Website'
    = default_form.select :state, options_for_select(select_options_from_hash(LocalNetwork::STATES), @local_network.state.to_sym), :label => 'Stage' 