%fieldset{:style => 'width: 50%;'}
  %legend Key Launch Dates
  %ol
    = default_form.date_select :sg_global_compact_launch_date, {:li_class => 'date', :label => 'Global Compact'} 
    = default_form.date_select :sg_local_network_launch_date, {:li_class => 'date', :label => 'Local Network'} 

%fieldset{:style => 'width: 50%;'}
  %legend Appointments

%fieldset{:style => 'width: 50%;'}
  %legend Legal Status
