%h2 Editing Website Address
- if default_form.error_messages.present?
  %div{:class => 'flash error'}= display_readable_errors(@local_network)
%fieldset
  %legend Website Address
  %p A link to your website will appear in your Local Network's public profile. Please enter an address in the format http://organization.org
  = default_form.text_field :url, :label => 'Address'