%h2 Editing Website Address
%fieldset{:style => 'width: 500px;'}
  %legend Website Address
  %p A link to your website will appear in your Local Network's public profile. Please enter an address in the format http://organization.org
  = default_form.text_field :url, :label => 'Address'