%tr
  %td= local_network.name
  %td= local_network.humanize_state
  %td
    %ul.actions
      %li= link_to 'View', admin_local_network_path(local_network), :class => "preview", :title => "View Local Network"
      - if current_contact.from_ungc?
        %li= link_to 'Edit', edit_admin_local_network_path(local_network), :class => 'edit', :title => 'Edit details'