- form_for @local_network, builder: DefaultFormBuilder, url: admin_local_network_path(@local_network, :section => @section) do |form|
  = render :partial => "#{@form_partial}.html.haml", :locals => {:default_form => form}
  %ul{:class => "tools inline" :style => 'float: left;'}
    %li= link_to 'Cancel', admin_local_network_path(@local_network, :tab => @section), :class => 'cancel_large'
    %li= form.submit 'Save changes', :class => 'button'
