%h2 Local Networks

%ul{:class => "tools inline"}
  %li= link_to 'New Local Network', new_admin_local_network_path, :class => "new_large", :id => "new_local_network"
  %li= link_to 'Countries', admin_countries_path, :class => 'web_preview_large', :title => 'Listing of all countries'

%table.dashboard_table#local_networks_table
  %tr
    %th.title Name
    %th.status Stage
    %th.actions Actions
  = render @local_networks
