%h2 Listing local networks
= link_to 'Add Local Network', new_admin_local_network_path, :class => "new_large", :id => "new_local_network"

%table.dashboard_table#local_networks_table
  %tr
    %th.last_updated Last updated on
    %th.title Name
    %th.status State
    %th.actions Actions
  = render @local_networks
