- @body_class = 'details'
%h3== #{@local_network.name} &#x25BA; Knowledge Sharing
= link_to 'Network Management', admin_local_network_path(@local_network)
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#events_activities">Events and Activities</a>
    %li <a href="#integrity_measures">Integrity Measures</a>
    %li <a href="#awards">Awards</a>

  #events_activities.tab_content
    %h3 Events and Activities

  #integrity_measures.tab_content
    %h3 Integrity Measures

  #awards.tab_content
    %h3 Awards
