- @body_class = 'details'
- unless current_user.local_network == @local_network
  %div.tab_switcher
    %ul.tab_switch
      %li=link_to 'Network Management', admin_local_network_path(@local_network), :class => "restrictions #{action_name != 'knowledge_sharing' ? ' selected' : ''}"
      %li=link_to 'Knowledge Sharing', knowledge_sharing_path(@local_network), :class => "restrictions #{action_name == 'knowledge_sharing' ? ' selected' : ''}"
%h3= @local_network.name
    
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#events_activities">Events and Activities</a>
    %li <a href="#integrity_measures">Integrity Measures</a>
    %li <a href="#awards">Awards</a>

  #events_activities.tab_content
    %h3 Events and Activities

  #integrity_measures.tab_content
    %h3 Integrity Measures

  #awards.tab_content
    %h3 Awards
