- @body_class = 'details'
%h2= @local_network.name
%div{:class => "tab_container top_tabs"}
  %ul.tab_nav
    %li <a href="#events">Events</a>
    %li <a href="#activities">Activities</a>
    %li <a href="#awards">Awards</a>

  #events.tab_content
    %h3 Events

  #activities.tab_content
    %h3 Activities

  #awards.tab_content
    %h3 Awards
