%h3 Manage Files
%h4= @submodel.title
%ul{:class => "tools inline"}
  %li= link_to cancel_string, cancel_path, :class => 'go_back_large'
  %li= link_to 'Attach more files', new_attachment_path, :class => "new_page_large"

%table.dashboard_table
  %tr
    %th File name
    %th Language
    %th Size
    %th Uploaded
    %th Actions
  - attachments.each do |a|
    = render partial: 'attachment', :object => a

