-@title = "#{@grace_letter.organization_name} &ndash; Grace Letter"
%h1 Communication on Progress

#main_content
  %dl
    %dt Participant
    %dd
      %ul
        %li= link_to @grace_letter.organization_name, participant_link(@grace_letter.id, params[:navigation])
    = render partial: 'shared/cops/show_grace_style', locals: { grace_letter: @grace_letter }

  .note
    %p{:style => 'margin-top: 2em; font-size: 10px; line-height: 1.5em;'}= t(:communication_disclaimer)
