%h2 Grace Letter

= form_for(@form, as: :grace_letter, url: admin_organization_grace_letter_path(@organization.id, @form.id), html: {multipart: true, id: 'cop_form', method: :put }) do |form|
  = render 'form', form:form