{{#if node.children}}
  <button {{action "toggle"}}>
    {{#if isOpen}}-{{else}}+{{/if}}
  </button>
{{/if}}

<label>{{node.title}}</label>

{{#if isOpen}}
  {{#if node.children}}
    {{tree/ui-tree nodes=node.children}}
  {{/if}}
{{/if}}
