// Style and layout overrides for the Bloomburg Atom Feeds

.details #main_content
  p:empty
    :display                  none
  dt
    :clear                    left
  dd
    &:empty
      :min-height             12px
    ul
      :margin                 0
    li
      :border-bottom          1px dotted #ccc
      :line-height            1.4
      :margin-bottom          10px
      :padding-bottom         11px
      &:last-child, li
        :border-bottom        0
        :margin-bottom        0
        :padding-bottom       0
      p
        :margin               10px 0 0 0
      ul
        :font-size            12px
        :margin               10px 0 0 15px
        :list-style-type      circle
      li
        :color                #555
        :margin-bottom        8px
