// Styles & Layout for the Bloomburg Atom Feeds
.details #main_content
  p:empty
    :display none
  dd 
    ul
      :margin 0
    li
      :line-height 1.4
      :margin-bottom 10px
      :border-bottom 1px dotted #ccc
      :padding-bottom 11px
      p
        :margin 10px 0 0 0
      &:last-child, li
        :border 0
        :padding 0
        :margin 0
      ul
        :list-style-type circle
        :margin 10px 0 0 15px
        :font-size 12px
      li
        :margin-bottom 8px
        :color #555
  