!dark_blue = #14546f
!light_blue = #e4eef2
!lighter_blue = #f0fbff
!dark_grey = #333
!medium_grey = #666
!light_grey = #f2f2f2


body
  background: #eee

.container
  background: #fff
  overflow: hidden
  padding-bottom: 10px
  
h1#page_header
  background: url('../images/backgrounds/header_image.jpg') no-repeat
  display: block
  text-shadow: 2px 2px 5px #000
  padding: 0.5em 10px
  color: #fff
  margin: 0 0 1px 0

ul.inline
  overflow: hidden
  margin: 0
  
  li
    list-style: none
    float: left
    
  a
    display: block

ul.nav_bar
  padding: 0
  margin: 0 0 20px
  background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%
  overflow: hidden

  li
    list-style: none
    float: left
    
    a
      display: block
      padding: 10px 13px 17px
      color: #fff
      background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%
      text-decoration: none
      border-right: 1px solid #fff
      &:hover
        color: #86d2f1
    
    &.current a
      background: transparent url('../images/backgrounds/nav_current.png') no-repeat 50% 100%
      


#main_content
  clear: left
  
  h2
    margin-bottom: 0.5em
    color = !dark_blue
    font-weight: bold

  table.dashboard_table
    width: 100%
    margin-bottom: 0
    
    tr
      &.odd
        background = !light_grey
      &.over
        background = !light_blue
      
    td, th
      padding: 10px
      
      &.pointer
        cursor: pointer

    th
      text-align: left
      background: #ccc
      color = !medium_grey
      vertical-align: bottom
      border-bottom: 1px solid #999
      
      &.age
        width: 75px

    td
      border-bottom: 1px solid #ccc
      vertical-align: middle
      padding:
        top: 5px
        bottom: 5px

    ul.actions
      margin: 0
      
      li
        float: left
        list-style: none

      a
        display: block
        background: transparent no-repeat 50% 50%
        width: 24px
        height: 24px
        text-indent: -9999px
        &.edit
          background-image: url('../images/icons/24x24/pages.png')
        &.delete
          background-image: url('../images/icons/24x24/trash_can.png')

  dl
    border-bottom: 1px solid #999
    margin-bottom: 2em
    width: 60%
    
    dt
      width: 130px
      padding: 10px 10px 10px 0
      margin: 0
      float: left
      font-weight: bold
      border-top: 1px solid #999
      
    dd
      margin-left: 140px
      padding: 10px
      border-top: 1px solid #999
      
    ul.document_list
      overflow: hidden
      margin: 0
      
      li
        float: left
        list-style: none
        
        a
          display: block
          // positioning defaults to Word icon in sprited png file:
          background: white url('../images/icons/doc_icons.png') no-repeat 0px 0px
          text-indent: -9999em
          width: 24px
          height: 24px
          
          &.pdf_doc
            // fixes positioning for PDF icon in sprited png file:
            background-position: -24px 0
            
  #org_name
    font-weight: bold 
          
.sidebar
  background= !light_blue
  border: 1px solid #999
  padding: 10px
  width: 210px
  
  small
    font-size: 0.8em
  
  h2
    font-weight: bold
    font-size: 1.5em
    
  ul
    margin: 0
  
    li
      list-style: none
      padding-bottom: 0.5em
    
  &#session_info
    margin-top: 3em
    
    #logged_in_as
      font-weight: bold

      a.username,small
        font-weight: normal
        font-style: italic
    
#footer
  padding: 10px
  width: 930px
  background = !dark_grey
  color: #868686
  margin: 20px 0 0 0
  
  
  
/* tabbed sections */
#main_content
  .tab_container
    margin: 1em 0
  
    ul.tab_nav
      margin: 0
      padding: 0
      overflow: hidden
      position: relative
      top: 1px
    
      li
        list-style: none
      
        a
          display: block
          background = !dark_blue
          padding: 5px 10px
          color: white
          text-decoration: none
          border: 1px solid #333
        
          &:hover
            background = !light_blue
            color = !dark_blue
          
          &.selected
            background: white
            color = !dark_blue
      
    // tab rules specific to top-tabbed nav
    &.top_tabs
      ul.tab_nav
        li
          float: left
          margin-right: 1px
        a.selected
          border-bottom: 1px solid #fff
    
    // tab rules specific to left-tabbed nav
    &.left_tabs
      ul.tab_nav
        width: 125px
        float: left
        margin-top: 13px
        z-index: 42
        
        li
          margin-bottom: 1px
      
        a.selected
          border-right: 1px solid #fff
          
      .tab_content
        width: 483px
        
    div.tab_content
      border: 1px solid #333
      padding: 1em 10px
      max-height: 400px
      overflow-x: hidden
      overflow-y: scroll
    
    // tab_content rules specific to left-tabbed nav
    &.left_tabs
      div.tab_content
        margin: 0 0 0 125px
        position: relative
        left: -1px
        

    ul.tools
      margin-bottom: 1em
    
      a
        width: 48px
        height: 48px
        text-indent: -9999em
      
        &.new
          background: transparent url('../images/icons/48x48/add_comment.png') no-repeat
        
    div.meta
      float: left
      width: 125px

      p
        margin: 0

        &.name
          font-weight: bold
          font-size: 1.1em

        &.datetime
          font-style: italic
          font-size: 0.9em
        
      ul.post_tools
        margin: 0.5em 0

        a
          width: 24px
          height: 24px
          text-indent: -9999em

          &.edit
            background: transparent url('../images/icons/24x24/note.png') no-repeat

          &.delete
            background: transparent url('../images/icons/24x24/delete_comment.png') no-repeat

    ul.items
      margin: 0
    
      li.item
        list-style: none
        border-top: 1px solid #999
        padding-top: 10px
        overflow: hidden
      
        div.body
          margin-left: 135px
        
          dl.contact_data
            font-size: 0.9em
            width: 220px
            float: left
            border: 0
            
            &#contact_data_left
              margin-right: 15px
          
            dt,dd
              width: 110px
              padding: 0.35em 0
              border: 0
            
            dd
              margin-left: 112px
  
  // general form element styling
  input.button
    float: right
    
  fieldset
    background-color= !lighter_blue
    
    legend
      color: #aaa
    
    ol
      margin: 0
      padding: 0 0 0 0
      
    li
      list-style: none
      margin: 0 0 1em 0
      
    label
      color= !dark_blue
      display: block
      float: left
      width: 100px
      
    input
      color: #000
      margin: 0 0 0 25px
      width: 305px
  
    textarea
      height: 100px
      padding: 10px 16px
      width: 398px
    
    fieldset
      background: #fff
      
      legend
        color= !dark_blue
        font-size: 1em
      
      label
        display: block
        width: auto
        float: none
        color= !dark_grey
      
      input
        width: auto
        margin: 2px 10px 2px 0
        vertical-align: bottom

  // page_manager styling
  .box
    border: 1px solid #999
    float: left
    padding: 10px
    margin-bottom: 20px
    background= !light_blue
    
  #site_structure
    overflow: hidden
    margin-bottom: 2em
  
  #site_tools, #page_tools
    ul
      margin: 0
      padding: 0
    
    li
      list-style: none
  
    a
      display: block
      height: 48px
      margin: 0 0 10px 0
      width: 48px
      text-indent: -9999em
    
      &:hover
        opacity: 0.7

  #site_tools
    height: 232px
    margin-right: 20px
    width: 48px
    
    a
      &.add_folder
        background: url('../images/icons/32x32/add_pages.png') no-repeat 50% 50%
      &.add_page
        background: url('../images/icons/32x32/add_comment.png') no-repeat 50% 50%
      &.delete_page
        background: url('../images/icons/32x32/delete_comment.png') no-repeat 50% 50%
      &.save
        background: url('../images/icons/32x32/process_accept.png') no-repeat 50% 50%
        
  #page_tools
    float: left
    
    ul
      width: 162px
      padding: 10px
    
    li
      float: left
      
      a
        margin: 3px
        
        &.edit_page
          background: url('../images/icons/32x32/note.png') no-repeat 50% 50%
        &.preview_page
          background: url('../images/icons/32x32/television.png') no-repeat 50% 50%
        &.save
          background: url('../images/icons/32x32/up.png') no-repeat 50% 50%
        &.visibility
          background: url('../images/icons/32x32/light_bulb.png') no-repeat 50% 50%
        &.approve
          background: url('../images/icons/32x32/note_accept.png') no-repeat 50% 50%
        &.delete
          background: url('../images/icons/32x32/trash_can.png') no-repeat 50% 50%
          

  #site_tree
    height: 232px
    overflow: auto
    width: 518px
  
    #tree
      ul 
        li 
          a
            &.hidden
              opacity: 0.4
            &.pending
              color: red
              
  
  #page_details, #page_tools
    clear: left
    float: left

  #page_details

    dl
      width: 162px
      
    dt
      width: 60px
      border: none
    
    dd
      margin-left: 60px
      border: none
      
  #page_preview
    margin-left: 204px
    width: 426px
    
    #preview_contents
      overflow-x: hidden
      overflow-y: scroll
      height: 350px
      float: none
        
      h1
        font-size: 2em
        color: inherit
      
      h2
        font-size: 1.6em
        color: inherit
      
      h3
        font-size: 1.3em
        color: inherit
      
      a
        text-decoration: underline
  
#loading
  background: url('/images/indicator.white.gif') 5px 5px no-repeat #FFC
  padding: 0.5em 2.5em 0.5em 2.5em
  margin: 0
  top: -0.25em
  position: relative
