<div id="landing-map-page">
    <div id="data-vis">
      <div class="full-width dark-blue">
        <div class="wrapper">
          <header class="main-content-header"><h1>Explore our Participants</h1></header>
          <div id="worldmap" style="text-align: center;"></div>
        </div>
      </div>
      <div class="wrapper white-bg full">
        <div id="sdg-vis" class="center"><%= link_to 'Explore Sustainable Development Goal Data from COPs', data_visualization_sdgs_path %></div>
      </div>
      <div class="wrapper white-bg full">
        <div id="participant-vis" class="center"><%= link_to 'See a list of our participants', '/what-is-gc/participants' %></div>
      </div>
    </div>
</div>

<script>
$(function() {
	var countryOrganizationCount = <%= raw @countries.to_json %>;
	countOrganization(countryOrganizationCount);
});
</script>
