%h1 COP Details

%h2 Participant Name
%p= link_to @cop.organization_name, participant_link(@cop.organization, params[:navigation])

- if @cop.created_at >= Date.new(2010, 1, 1)
  = render :partial => 'new_style'
- else
  = render :partial => 'old_style'

.note
  %p Note: Responsibility for the content of participants' Communication on Progress and any other public communication related to the Global Compact principles and their implementation lies with participants themselves and not with the UN Global Compact Office.