%dt.first Title
%dd.first
  %ul
    %li= communication_on_progress.title
  
%dt Published
%dd
  %ul
    %li= yyyy_mm_dd communication_on_progress.created_at

%dt Time period
%dd
  %ul
    %li= date_range(communication_on_progress)
    