.main_content
  #status_box
  - if communication_on_progress.format == 'basic'
    = render :partial => '/shared/cops/show_basic_style.html.haml', :locals => { :communication_on_progress => communication_on_progress } 
  - elsif communication_on_progress.is_new_format? || communication_on_progress.is_grace_letter?
    = render :partial => '/shared/cops/show_new_style.html.haml', :locals => { :communication_on_progress => communication_on_progress } 
  - elsif  communication_on_progress.is_legacy_format?
    = render :partial => '/shared/cops/show_legacy_style.html.haml', :locals => { :communication_on_progress => communication_on_progress }