- if params[:action] != 'feed'

  %ul.self_assessment
    %li{:class => select_answer_class(communication_on_progress.include_continued_support_statement?) }
      Includes a CEO statement of continued support for the UN Global Compact and its ten principles
    - PrincipleArea::FILTERS.each_pair do |key, value|
      %li{:class => select_answer_class(communication_on_progress.public_send("references_#{key}?")) }
        == Description of actions or relevant policies related to #{value}
    %li{:class => select_answer_class(communication_on_progress.include_measurement?) }
      Includes a measurement of outcomes
    - if communication_on_progress.evaluated_for_differentiation? && communication_on_progress.additional_questions? && communication_on_progress.meets_advanced_criteria
      %li{:class => select_answer_class(communication_on_progress.meets_advanced_criteria) }
        Meets all criteria for the GC Advanced level
- else

  %ul.questionnaire
  - if communication_on_progress.include_continued_support_statement?
    %li Includes a CEO statement of continued support for the UN Global Compact and its ten principles
    - PrincipleArea::FILTERS.each_pair do |key, value|
      - if communication_on_progress.public_send("references_#{key}?")
        %li== Description of actions or relevant policies related to #{value}
  - if communication_on_progress.include_measurement?
    %li Includes a measurement of outcomes
  - if communication_on_progress.evaluated_for_differentiation? && communication_on_progress.additional_questions? && communication_on_progress.meets_advanced_criteria
    %li Meets all criteria for the GC Advanced level
