- if params[:action] == 'feed'

  %ul.self_assessment
    - self_assessment.each do |key, is_present|
      - if is_present
        %li= key

- else

  %ul.self_assessment
    - self_assessment.each do |key, is_present|
      %li{:class => select_answer_class(is_present)}
        =key
