%dl
  = render :partial => '/shared/cops/cop_info_header', :locals => { :communication_on_progress => communication_on_progress }
  = render :partial => results_partial, :locals => { :communication_on_progress => communication_on_progress }