body {
  background: #eee; }

.container {
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px; }

h1#page_header {
  background: url('../images/backgrounds/header_image.jpg') no-repeat;
  display: block;
  text-shadow: 2px 2px 5px #000;
  padding: 0.5em 10px;
  color: #fff;
  margin: 0 0 1px 0; }

ul.inline {
  overflow: hidden;
  margin: 0; }
  ul.inline li {
    list-style: none;
    float: left; }
  ul.inline a {
    display: block; }

ul.nav_bar {
  padding: 0;
  margin: 0 0 2em;
  background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%;
  overflow: hidden;
  list-style: none;
  z-index: 42; }
  ul.nav_bar li {
    list-style: none;
    float: left; }
    ul.nav_bar li a {
      display: block;
      padding: 10px 13px 17px;
      color: #fff;
      background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%;
      text-decoration: none;
      border-right: 1px solid #fff; }
      ul.nav_bar li a:hover {
        color: #86d2f1; }
    ul.nav_bar li.current a {
      background: transparent url('../images/backgrounds/nav_current.png') no-repeat 50% 100%; }
    ul.nav_bar li ul {
      left: -9999em;
      margin: -6px 0 0 -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 150px;
      z-index: 42;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
      ul.nav_bar li ul li a {
        background: #666;
        border-bottom: 1px solid #fff;
        width: 150px;
        padding: 7px 13px;
        font-size: 0.9em; }
        ul.nav_bar li ul li a:hover {
          background: #333; }
    ul.nav_bar li:hover ul, ul.nav_bar li.sfhover ul {
      left: auto; }

#main_content {
  clear: left; }
  #main_content h2 {
    margin-bottom: 0.5em;
    color: #14546f;
    font-weight: bold; }
  #main_content table.dashboard_table {
    width: 100%;
    margin-bottom: 0; }
    #main_content table.dashboard_table tr.odd {
      background: #f2f2f2; }
    #main_content table.dashboard_table tr.over {
      background: #f0f6fa; }
    #main_content table.dashboard_table td, #main_content table.dashboard_table th {
      padding: 10px; }
      #main_content table.dashboard_table td.pointer, #main_content table.dashboard_table th.pointer {
        cursor: pointer; }
    #main_content table.dashboard_table th {
      text-align: left;
      background: #ccc;
      color: #666666;
      vertical-align: bottom;
      border-bottom: 1px solid #999; }
      #main_content table.dashboard_table th.age {
        width: 75px; }
    #main_content table.dashboard_table td {
      border-bottom: 1px solid #ccc;
      vertical-align: middle;
      padding-top: 5px;
      padding-bottom: 5px; }
    #main_content table.dashboard_table ul.actions {
      margin: 0; }
      #main_content table.dashboard_table ul.actions li {
        float: left;
        list-style: none; }
      #main_content table.dashboard_table ul.actions a {
        display: block;
        background: transparent no-repeat 50% 50%;
        width: 24px;
        height: 24px;
        text-indent: -9999px; }
        #main_content table.dashboard_table ul.actions a.approve {
          background: url('../images/icons/24x24/note_accept.png'); }
        #main_content table.dashboard_table ul.actions a.edit {
          background-image: url('../images/icons/24x24/pages.png'); }
        #main_content table.dashboard_table ul.actions a.delete {
          background-image: url('../images/icons/24x24/trash_can.png'); }
        #main_content table.dashboard_table ul.actions a.revoke {
          background-image: url('../images/icons/24x24/pages_warning.png'); }
  #main_content dl {
    margin-bottom: 2em;
    width: 60%; }
    #main_content dl dt {
      width: 130px;
      padding: 10px 10px 10px 0;
      margin: 0;
      float: left;
      font-weight: bold;
      border-top: 1px solid #999; }
    #main_content dl dd {
      margin-left: 140px;
      padding: 10px;
      border-top: 1px solid #999; }
    #main_content dl ul.document_list {
      overflow: hidden;
      margin: 0; }
      #main_content dl ul.document_list li {
        float: left;
        list-style: none; }
        #main_content dl ul.document_list li a {
          display: block;
          background: white url('../images/icons/doc_icons.png') no-repeat 0px 0px;
          text-indent: -9999em;
          width: 24px;
          height: 24px; }
          #main_content dl ul.document_list li a.pdf_doc {
            background-position: -24px 0; }
  #main_content #org_name {
    font-weight: bold; }

.container > .sidebar {
  background: #f0f6fa;
  border: 1px solid #999;
  padding: 10px;
  width: 210px;
  float: none;
  margin-left: 680px; }
  .container > .sidebar small {
    font-size: 0.8em; }
  .container > .sidebar h2 {
    font-weight: bold;
    font-size: 1.5em; }
  .container > .sidebar ul {
    margin: 0; }
    .container > .sidebar ul li {
      list-style: none;
      padding-bottom: 0.5em; }
  .container > .sidebar#session_info {
    margin-top: 5em; }
    .container > .sidebar#session_info #logged_in_as {
      font-weight: bold; }
      .container > .sidebar#session_info #logged_in_as a.username, .container > .sidebar#session_info #logged_in_as small {
        font-weight: normal;
        font-style: italic; }

#footer {
  padding: 10px;
  width: 930px;
  background: #333333;
  color: #868686;
  margin: 20px 0 0 0; }

/* tabbed sections */
#main_content .tab_container {
  display: none;
  margin: 1em 0; }
  #main_content .tab_container ul.tab_nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 1px; }
    #main_content .tab_container ul.tab_nav li {
      list-style: none; }
      #main_content .tab_container ul.tab_nav li a {
        display: block;
        background: #14546f;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        border: 1px solid #333; }
        #main_content .tab_container ul.tab_nav li a:hover {
          background: #f0f6fa;
          color: #14546f; }
        #main_content .tab_container ul.tab_nav li a.selected {
          background: white;
          color: #14546f; }
  #main_content .tab_container.top_tabs ul.tab_nav li {
    float: left;
    margin-right: 1px; }
  #main_content .tab_container.top_tabs ul.tab_nav a.selected {
    border-bottom: 1px solid #fff; }
  #main_content .tab_container.left_tabs ul.tab_nav {
    width: 125px;
    float: left;
    margin-top: 13px;
    z-index: 42; }
    #main_content .tab_container.left_tabs ul.tab_nav li {
      margin-bottom: 1px; }
    #main_content .tab_container.left_tabs ul.tab_nav a.selected {
      border-right: 1px solid #fff; }
  #main_content .tab_container.left_tabs .tab_content {
    width: 483px; }
  #main_content .tab_container div.tab_content {
    border: 1px solid #333;
    padding: 1em 10px;
    min-height: 200px``;
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll; }
  #main_content .tab_container.left_tabs div.tab_content {
    margin: 0 0 0 125px;
    position: relative;
    left: -1px; }
  #main_content .tab_container ul.tools {
    border-bottom: 1px solid #999;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em; }
    #main_content .tab_container ul.tools a {
      width: 48px;
      height: 48px;
      text-indent: -9999em; }
      #main_content .tab_container ul.tools a.new {
        background: transparent url('../images/icons/48x48/add_comment.png') no-repeat; }
  #main_content .tab_container div.meta {
    float: left;
    width: 125px; }
    #main_content .tab_container div.meta p {
      margin: 0; }
      #main_content .tab_container div.meta p.name {
        font-weight: bold;
        font-size: 1.1em; }
      #main_content .tab_container div.meta p.datetime, #main_content .tab_container div.meta p.language {
        font-style: italic;
        font-size: 0.9em;
        margin-bottom: 1em; }
    #main_content .tab_container div.meta ul.post_tools {
      margin: 0.5em 0; }
      #main_content .tab_container div.meta ul.post_tools a {
        width: 24px;
        height: 24px;
        text-indent: -9999em; }
        #main_content .tab_container div.meta ul.post_tools a.edit {
          background: transparent url('../images/icons/24x24/note.png') no-repeat; }
        #main_content .tab_container div.meta ul.post_tools a.delete {
          background: transparent url('../images/icons/24x24/delete_comment.png') no-repeat; }
  #main_content .tab_container ul.items {
    margin: 0; }
    #main_content .tab_container ul.items li.item {
      list-style: none;
      border-bottom: 1px solid #999;
      padding: 0.5em 0;
      overflow: hidden; }
      #main_content .tab_container ul.items li.item div.body {
        margin-left: 135px; }
        #main_content .tab_container ul.items li.item div.body dl.contact_data {
          font-size: 0.9em;
          width: 220px;
          float: left;
          border: 0; }
          #main_content .tab_container ul.items li.item div.body dl.contact_data#contact_data_left {
            margin-right: 15px; }
          #main_content .tab_container ul.items li.item div.body dl.contact_data dt, #main_content .tab_container ul.items li.item div.body dl.contact_data dd {
            width: 110px;
            padding: 0.35em 0;
            border: 0; }
          #main_content .tab_container ul.items li.item div.body dl.contact_data dd {
            margin-left: 112px; }
#main_content input.button {
  float: right; }
#main_content fieldset {
  background-color: #f0f6fa; }
  #main_content fieldset legend {
    color: #aaa; }
    #main_content fieldset legend span {
      position: relative;
      top: 0.5em;
      white-space: normal; }
  #main_content fieldset ol {
    margin: 0;
    padding: 0 0 0 0; }
  #main_content fieldset li {
    list-style: none;
    margin: 0 0 1em 0; }
  #main_content fieldset label {
    color: #14546f;
    display: block;
    float: left;
    width: 100px; }
  #main_content fieldset input, #main_content fieldset select, #main_content fieldset textarea {
    color: #000;
    margin: 0 5px 0 25px;
    width: 305px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1em; }
  #main_content fieldset input, #main_content fieldset textarea {
    padding: 0 0 0 3px; }
  #main_content fieldset select {
    width: 307px; }
  #main_content fieldset textarea {
    height: 100px;
    overflow-y: auto; }
  #main_content fieldset fieldset {
    background: #fff; }
    #main_content fieldset fieldset legend {
      color: #14546f;
      font-size: 1em; }
    #main_content fieldset fieldset label {
      display: block;
      width: auto;
      float: none;
      color: #333333; }
    #main_content fieldset fieldset input {
      width: auto;
      margin: 2px 10px 2px 0;
      vertical-align: bottom; }
#main_content .box {
  border: 5px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 20px;
  background: #f0f6fa; }
#main_content #site_structure {
  overflow: hidden;
  margin-bottom: 2em; }
#main_content #site_tools, #main_content #page_tools {
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-radius-topleft: 7px;
  -webkit-border-radius-topright: 7px;
  background: url('../images/backgrounds/toolbar_bg.png') repeat-x #d2d2d2;
  padding: 0;
  border: 0;
  margin: 0;
  width: 630px;
  overflow: hidden; }
  #main_content #site_tools ul, #main_content #page_tools ul {
    margin: 0;
    padding: 0; }
  #main_content #site_tools li, #main_content #page_tools li {
    list-style: none;
    float: left; }
  #main_content #site_tools a, #main_content #page_tools a {
    display: block;
    height: 24px;
    margin: 5px 10px 0;
    width: 36px;
    text-align: center;
    padding-top: 29px;
    font-size: 0.9em;
    text-decoration: none;
    color: #666666; }
    #main_content #site_tools a:hover, #main_content #page_tools a:hover {
      opacity: 0.7; }
  #main_content #site_tools .disabled li, #main_content #page_tools .disabled li {
    opacity: 0.4; }
#main_content #site_tools a.add_folder {
  background: url('../images/icons/Folder (Closed) (Add)_24x24.png') no-repeat center top; }
#main_content #site_tools a.add_page {
  background: url('../images/icons/Document (Add)_24x24.png') no-repeat center top; }
#main_content #site_tools a.delete_page {
  background: url('../images/icons/Delete_24x24.png') no-repeat center top; }
#main_content #site_tools a.visibility_page {
  background: url('../images/icons/eye.png') no-repeat center top; }
#main_content #site_tools a.save {
  background: url('../images/icons/Save_24x24.png') no-repeat center top; }
#main_content #page_tools a.edit_page {
  background: url('../images/icons/Document (Edit)_24x24.png') no-repeat center top; }
#main_content #page_tools a.preview_page {
  background: url('../images/icons/Web Browser_24x24.png') no-repeat center top; }
#main_content #page_tools a.save {
  background: url('../images/icons/Save_24x24.png') no-repeat center top; }
#main_content #page_tools a.visibility {
  background: url('../images/icons/eye.png') no-repeat center top; }
#main_content #page_tools a.approve {
  background: url('../images/icons/Rate (Thumbs Up)_24x24.png') no-repeat center top; }
#main_content #page_tools a.delete {
  background: url('../images/icons/Delete_24x24.png') no-repeat center top; }
#main_content #site_tree {
  height: 232px;
  overflow: auto;
  width: 600px; }
  #main_content #site_tree #tree ul li a.hidden {
    opacity: 0.4; }
  #main_content #site_tree #tree ul li a.pending {
    color: red; }
#main_content #pageArea.loading {
  opacity: 0.3; }
#main_content .editable:hover {
  background: #FFC; }
#main_content .editable_field input {
  width: 88%; }
#main_content #page_details, #main_content #page_tools {
  clear: left;
  float: left; }
#main_content #page_details {
  width: 600px;
  margin: 0;
  border-bottom: none; }
  #main_content #page_details dl {
    width: 600px;
    margin: 0; }
  #main_content #page_details dt {
    width: 60px;
    border: none;
    padding: 0.1em 10px 0.1em 0; }
  #main_content #page_details dd {
    margin-left: 60px;
    border: none;
    padding: 0.1em 0; }
#main_content #page_preview {
  width: 630px;
  overflow: hidden; }
  #main_content #page_preview #preview_contents {
    overflow-x: hidden;
    overflow-y: auto;
    height: 350px;
    float: none; }
    #main_content #page_preview #preview_contents h1 {
      font-size: 2em;
      color: inherit; }
    #main_content #page_preview #preview_contents h2 {
      font-size: 1.6em;
      color: inherit; }
    #main_content #page_preview #preview_contents h3 {
      font-size: 1.3em;
      color: inherit; }
    #main_content #page_preview #preview_contents a {
      text-decoration: underline; }
