body {
  background: #eee; }

a {
  color: #14546f;
  text-decoration: none; }
  a:hover {
    color: #14546f;
    text-decoration: underline; }

.container {
  background: #fff;
  overflow: hidden;
  padding-bottom: 10px;
  position: relative; }

form#search {
  position: absolute;
  top: 55px;
  left: 750px; }
  form#search .search_box {
    padding: 2px;
    height: 15px;
    width: 135px;
    background-color: #fff;
    border: 1px solid #000;
    margin-right: 5px;
    color: grey; }

h1#page_header {
  background: #333333 url('../images/backgrounds/header_image.jpg') no-repeat;
  display: block;
  text-shadow: 2px 2px 5px #000;
  padding: 0.5em 10px;
  color: #fff;
  margin: 0 0 1px 0; }

ul.inline {
  overflow: hidden;
  margin: 0; }
  ul.inline li {
    list-style: none;
    float: left; }
  ul.inline a {
    display: block; }

ul.nav_bar {
  padding: 0;
  margin: 0 0 2em;
  background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%;
  overflow: hidden;
  list-style: none;
  z-index: 42; }
  ul.nav_bar li {
    list-style: none;
    float: left; }
    ul.nav_bar li a {
      display: block;
      padding: 10px 13px 17px;
      color: #fff;
      background: url('../images/backgrounds/nav_default.png') repeat-x 50% 100%;
      text-decoration: none;
      border-right: 1px solid #fff; }
      ul.nav_bar li a:hover {
        color: #86d2f1; }
    ul.nav_bar li.current a {
      background: transparent url('../images/backgrounds/nav_current.png') no-repeat 50% 100%; }
    ul.nav_bar li ul {
      left: -9999em;
      margin: -6px 0 0 -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 150px;
      z-index: 42;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff; }
      ul.nav_bar li ul li a {
        background: #666;
        border-bottom: 1px solid #fff;
        width: 150px;
        padding: 7px 13px;
        font-size: 0.9em; }
        ul.nav_bar li ul li a:hover {
          background: #333; }
    ul.nav_bar li:hover ul, ul.nav_bar li.sfhover ul {
      left: auto; }

#main_content {
  clear: left;
  position: relative; }
  #main_content h2 {
    margin-bottom: 1em;
    color: #14546f;
    font-weight: bold; }
  #main_content h3 {
    color: #14546f;
    font-weight: bold; }
  #main_content a.new_large, #main_content a.edit_large, #main_content a.new_page_large, #main_content div.new_page_large, #main_content a.info_large, #main_content div.hint_toggle, #main_content a.web_preview_large, #main_content a.delete_doc {
    display: block;
    width: 240px;
    height: 24px;
    padding: 5px 0 0 30px;
    text-align: left;
    color: #14546f;
    text-decoration: none;
    opacity: 0.85;
    font-weight: bold; }
    #main_content a.new_large:hover, #main_content a.edit_large:hover, #main_content a.new_page_large:hover, #main_content div.new_page_large:hover, #main_content a.info_large:hover, #main_content div.hint_toggle:hover, #main_content a.web_preview_large:hover, #main_content a.delete_doc:hover {
      opacity: 1;
      text-decoration: underline;
      cursor: pointer; }
  #main_content a.new_large {
    background: url('../images/icons/Add_24x24.png') no-repeat top left; }
  #main_content a.edit_large {
    background: url('../images/icons/Edit_24x24.png') no-repeat top left; }
  #main_content a.new_page_large, #main_content div.new_page_large {
    background: url('../images/icons/Add_Document_24x24.png') no-repeat top left; }
  #main_content a.web_preview_large {
    background: url('../images/icons/Web Browser_24x24.png') no-repeat top left; }
  #main_content a.info_large, #main_content div.hint_toggle {
    background: url('../images/icons/Info_24x24.png') no-repeat top left; }
  #main_content a.delete_doc {
    display: inline;
    padding: 5px 0 10px 30px;
    background: url('../images/icons/Document (Remove)_24x24.png') no-repeat top left; }
  #main_content table.dashboard_table {
    width: 100%;
    margin-bottom: 0; }
    #main_content table.dashboard_table tr.odd {
      background: #f2f2f2; }
    #main_content table.dashboard_table tr.over {
      background: #f0f6fa; }
    #main_content table.dashboard_table td, #main_content table.dashboard_table th {
      padding: 10px;
      border-right: 1px solid #dedede; }
      #main_content table.dashboard_table td.pointer, #main_content table.dashboard_table th.pointer {
        cursor: pointer; }
    #main_content table.dashboard_table th {
      text-align: left;
      background: #ccc no-repeat 100% 0;
      color: #666666;
      vertical-align: bottom;
      border-bottom: 1px solid #999; }
      #main_content table.dashboard_table th.center {
        text-align: center; }
      #main_content table.dashboard_table th.age {
        width: 75px; }
      #main_content table.dashboard_table th a {
        background: transparent no-repeat;
        color: #666666;
        display: block; }
        #main_content table.dashboard_table th a:hover {
          color: #333333; }
        #main_content table.dashboard_table th a.ascending {
          background-image: url('/images/sort_arrows.png');
          background-position: 100% 4px; }
          #main_content table.dashboard_table th a.ascending:hover {
            background-position: 100% -116px; }
        #main_content table.dashboard_table th a.descending {
          background-image: url('/images/sort_arrows.png');
          background-position: 95% -56px; }
          #main_content table.dashboard_table th a.descending:hover {
            background-position: 95% -176px; }
    #main_content table.dashboard_table td {
      border-bottom: 1px solid #ccc;
      vertical-align: middle;
      padding-top: 6px;
      padding-bottom: 3px; }
      #main_content table.dashboard_table td.center {
        text-align: center; }
      #main_content table.dashboard_table td span .small {
        font-size: 9px; }
    #main_content table.dashboard_table ul.matching_list {
      margin: 0;
      list-style: none; }
    #main_content table.dashboard_table ul.actions {
      margin: 0; }
      #main_content table.dashboard_table ul.actions li {
        float: left;
        list-style: none;
        margin: 0 2px; }
      #main_content table.dashboard_table ul.actions a {
        display: block;
        background: transparent no-repeat 50% 50%;
        width: 16px;
        height: 16px;
        text-indent: -9999px; }
        #main_content table.dashboard_table ul.actions a.approve {
          background: url('../images/icons/Rate (Thumbs Up)_16x16.png'); }
        #main_content table.dashboard_table ul.actions a.edit {
          background-image: url('../images/icons/Edit_16x16.png'); }
        #main_content table.dashboard_table ul.actions a.delete {
          background-image: url('../images/icons/Trash (Full)_16x16.png'); }
        #main_content table.dashboard_table ul.actions a.preview {
          background-image: url('../images/icons/Web Browser_16x16.png'); }
        #main_content table.dashboard_table ul.actions a.revoke {
          background-image: url('../images/icons/Rate (Thumbs Down)_16x16.png'); }
  #main_content dl {
    margin-bottom: 2em;
    width: 45%;
    margin-right: 30px; }
    #main_content dl.left_column {
      float: left; }
    #main_content dl dt {
      width: 130px;
      padding: 10px 10px 10px 0;
      margin: 0;
      float: left;
      font-weight: bold;
      white-space: nowrap;
      border-top: 1px solid #999; }
      #main_content dl dt.first {
        border: none; }
    #main_content dl dd {
      margin-left: 140px;
      padding: 10px;
      border-top: 1px solid #999; }
      #main_content dl dd.first {
        border: none; }
    #main_content dl ul.document_list {
      overflow: hidden;
      margin: 0; }
      #main_content dl ul.document_list li {
        float: left;
        list-style: none; }
        #main_content dl ul.document_list li a {
          display: block;
          background: white url('../images/icons/doc_icons.png') no-repeat 0px 0px;
          text-indent: -9999em;
          width: 24px;
          height: 24px; }
          #main_content dl ul.document_list li a.pdf_doc {
            background-position: -48px 0; }
          #main_content dl ul.document_list li a.word_doc {
            background-position: -24px 0; }
  #main_content #org_name {
    font-weight: bold; }

.container > .sidebar {
  background: #f0f6fa;
  border: 1px solid #999;
  padding: 10px;
  width: 210px;
  float: none;
  margin-left: 680px; }
  .container > .sidebar small {
    font-size: 0.8em; }
  .container > .sidebar h2 {
    font-weight: bold;
    font-size: 1.5em; }
  .container > .sidebar ul {
    margin: 0; }
    .container > .sidebar ul li {
      list-style: none;
      padding-bottom: 0.5em; }
  .container > .sidebar#session_info {
    margin-top: 5em; }
    .container > .sidebar#session_info #logged_in_as {
      font-weight: bold; }
      .container > .sidebar#session_info #logged_in_as a.username, .container > .sidebar#session_info #logged_in_as small {
        font-weight: normal;
        font-style: italic; }

#footer {
  padding: 10px;
  width: 930px;
  background: #333333;
  color: #868686;
  margin: 20px 0 0 0; }

.tab_container {
  display: none;
  margin: 1em 0; }
  .tab_container ul.tab_nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    top: 1px;
    z-index: 42; }
    .tab_container ul.tab_nav li {
      list-style: none; }
      .tab_container ul.tab_nav li a {
        display: block;
        background: #14546f;
        padding: 5px 10px;
        color: white;
        text-decoration: none;
        border: 1px solid #333; }
        .tab_container ul.tab_nav li a:hover {
          background: #f0f6fa;
          color: #14546f; }
        .tab_container ul.tab_nav li a.selected {
          background: white;
          color: #14546f; }
  .tab_container.top_tabs ul.tab_nav li {
    float: left;
    margin-right: 1px; }
  .tab_container.top_tabs ul.tab_nav a.selected {
    border-bottom: 1px solid #fff; }
  .tab_container.left_tabs ul.tab_nav {
    width: 125px;
    float: left;
    margin-top: 13px;
    z-index: 42; }
    .tab_container.left_tabs ul.tab_nav li {
      margin-bottom: 1px; }
    .tab_container.left_tabs ul.tab_nav a.selected {
      border-right: 1px solid #fff; }
  .tab_container.left_tabs .tab_content {
    width: 802px; }
  .tab_container div.tab_content {
    border: 1px solid #333;
    padding: 1em 10px;
    min-height: 250px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative; }
  .tab_container.left_tabs div.tab_content {
    margin: 0 0 0 125px;
    position: relative;
    left: -1px; }
  .tab_container div.tab_content a.new {
    right: 12px;
    top: 12px; }
    .tab_container div.tab_content a.new#new_COP {
      line-height: 24px; }
  .tab_container ul.tools {
    border-bottom: 1px solid #999;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em; }
    .tab_container ul.tools li {
      float: left; }
      .tab_container ul.tools li a {
        height: 24px;
        display: block;
        position: static; }
        .tab_container ul.tools li a.new {
          background: transparent url('../images/icons/Add_24x24.png') no-repeat 100% 50%; }
  .tab_container div.meta {
    float: left;
    width: 125px; }
    .tab_container div.meta p {
      margin: 0; }
      .tab_container div.meta p.name {
        font-weight: bold; }
      .tab_container div.meta p.datetime, .tab_container div.meta p.language {
        font-style: italic;
        font-size: 0.9em;
        margin-bottom: 1em; }
    .tab_container div.meta ul.post_tools {
      margin: 0.5em 0; }
      .tab_container div.meta ul.post_tools a {
        width: 24px;
        height: 24px;
        text-indent: -9999em; }
        .tab_container div.meta ul.post_tools a.edit {
          background: transparent url('../images/icons/Edit_24x24.png') no-repeat; }
        .tab_container div.meta ul.post_tools a.delete {
          background: transparent url('../images/icons/Delete_24x24.png') no-repeat; }
  .tab_container ul.items {
    margin: 0; }
    .tab_container ul.items li.item {
      list-style: none;
      border-bottom: 1px solid #999;
      padding: 0.5em 0;
      overflow: hidden; }
      .tab_container ul.items li.item div.body {
        margin-left: 135px; }
        .tab_container ul.items li.item div.body dl.contact_data {
          font-size: 9px;
          width: 220px;
          float: left; }
          .tab_container ul.items li.item div.body dl.contact_data#contact_data_left {
            margin-right: 15px; }
          .tab_container ul.items li.item div.body dl.contact_data dt, .tab_container ul.items li.item div.body dl.contact_data dd {
            width: 150px;
            padding: 0.35em 0; }
          .tab_container ul.items li.item div.body dl.contact_data dd {
            margin-left: 112px; }

#main_content input.button {
  float: right; }
#main_content fieldset {
  background-color: #f0f6fa; }
  #main_content fieldset legend {
    color: #aaa; }
    #main_content fieldset legend span {
      white-space: normal;
      float: left; }
  #main_content fieldset ol {
    margin: 0;
    padding: 0 0 0 0; }
  #main_content fieldset li {
    list-style: none;
    margin: 0 0 1em 0; }
  #main_content fieldset ul.bulleted {
    margin: 0;
    padding: 0 0 0 0; }
    #main_content fieldset ul.bulleted li {
      list-style-type: disc;
      margin: 0 0 0.5em 2em; }
  #main_content fieldset label {
    color: #14546f;
    display: block;
    float: left;
    width: 150px; }
  #main_content fieldset input, #main_content fieldset select, #main_content fieldset textarea {
    color: #000;
    margin: 2px 4px 1px 25px;
    padding: 0 0 0 3px;
    width: 305px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1em; }
  #main_content fieldset input[type="checkbox"], #main_content fieldset input[type="radio"], #main_content fieldset input[type="file"] {
    width: auto;
    margin: 0 5px 0px 25px; }
  #main_content fieldset span.cke_skin_kama {
    display: block;
    margin: 0 5px 0 120px; }
  #main_content fieldset textarea {
    height: 100px;
    overflow-y: auto; }
    #main_content fieldset textarea.cop_answer {
      margin-left: 0px;
      width: 100%;
      clear: both; }
  #main_content fieldset fieldset {
    background: #fff; }
    #main_content fieldset fieldset p.question_text {
      margin-top: 1em; }
    #main_content fieldset fieldset legend {
      color: #14546f;
      font-size: 1em;
      background: #fcfcfc url('../images/backgrounds/legend_bg.png') repeat-x 0 0;
      padding: 5px;
      border: 1px solid #cccccc; }
    #main_content fieldset fieldset input[type="checkbox"], #main_content fieldset fieldset input[type="radio"], #main_content fieldset fieldset input[type="file"] {
      width: auto;
      margin: -2px 10px 0px 5px; }
    #main_content fieldset fieldset label {
      display: block;
      width: 700px;
      padding: 1px;
      margin: 1px;
      color: #333333; }
      #main_content fieldset fieldset label:hover {
        cursor: pointer; }
    #main_content fieldset fieldset span.radio_label {
      float: left;
      margin: 5px 0 5px 0; }
    #main_content fieldset fieldset span.label_text {
      display: block;
      position: relative;
      line-height: 1em;
      left: 25px;
      top: -10px; }
    #main_content fieldset fieldset select {
      margin-left: 0; }
    #main_content fieldset fieldset ul.date_select {
      float: left;
      margin-top: 10px;
      margin-right: 25px;
      list-style: none; }
      #main_content fieldset fieldset ul.date_select li {
        font-weight: bold; }
      #main_content fieldset fieldset ul.date_select select {
        width: 90px; }
#main_content .box {
  border: 5px solid #d2d2d2;
  padding: 10px;
  margin-bottom: 20px;
  background: #f0f6fa; }
#main_content #site_structure {
  overflow: hidden;
  margin-bottom: 2em; }
  #main_content #site_structure.loading {
    opacity: 0.3; }
#main_content #site_tools, #main_content #page_tools {
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-radius-topleft: 7px;
  -webkit-border-radius-topright: 7px;
  background: url('../images/backgrounds/toolbar_bg.png') repeat-x #d2d2d2;
  padding: 0;
  border: 0;
  margin: 0;
  width: 630px;
  overflow: hidden; }
  #main_content #site_tools ul, #main_content #page_tools ul {
    margin: 0;
    padding: 0; }
  #main_content #site_tools li, #main_content #page_tools li {
    list-style: none;
    float: left; }
  #main_content #site_tools a, #main_content #page_tools a {
    display: block;
    height: 24px;
    margin: 5px 10px 0;
    width: 36px;
    text-align: center;
    padding-top: 29px;
    font-size: 0.9em;
    text-decoration: none;
    color: #666666; }
    #main_content #site_tools a:hover, #main_content #page_tools a:hover {
      opacity: 0.7; }
  #main_content #site_tools .disabled li, #main_content #page_tools .disabled li {
    opacity: 0.4; }
#main_content #site_tools a.add_folder {
  background: url('../images/icons/Folder (Closed) (Add)_24x24.png') no-repeat center top; }
#main_content #site_tools a.add_page {
  background: url('../images/icons/Add_Document_24x24.png') no-repeat center top; }
#main_content #site_tools a.delete_page {
  background: url('../images/icons/Delete_24x24.png') no-repeat center top; }
#main_content #site_tools a.visibility_page {
  background: url('../images/icons/eye.png') no-repeat center top; }
#main_content #site_tools a.save {
  background: url('../images/icons/Save_24x24.png') no-repeat center top; }
#main_content #page_tools a.edit_page {
  background: url('../images/icons/Document (Edit)_24x24.png') no-repeat center top; }
#main_content #page_tools a.preview_page {
  background: url('../images/icons/Web Browser_24x24.png') no-repeat center top; }
#main_content #page_tools a.save {
  background: url('../images/icons/Save_24x24.png') no-repeat center top; }
#main_content #page_tools a.visibility {
  background: url('../images/icons/eye.png') no-repeat center top; }
#main_content #page_tools a.approve {
  background: url('../images/icons/Rate (Thumbs Up)_24x24.png') no-repeat center top; }
#main_content #page_tools a.revoke {
  background: url('../images/icons/Rate (Thumbs Down)_24x24.png') no-repeat center top; }
#main_content #page_tools a.delete {
  background: url('../images/icons/Delete_24x24.png') no-repeat center top; }
#main_content #page_tools a.dynamic_content {
  background: url('../images/icons/Document (Edit)_24x24.png') no-repeat center top; }
#main_content #page_tools a.disabled {
  opacity: 0.4; }
#main_content #site_tree {
  height: 232px;
  overflow: auto;
  width: 600px; }
  #main_content #site_tree.loading {
    opacity: 0.3; }
  #main_content #site_tree #tree ul li a.hidden {
    opacity: 0.4; }
  #main_content #site_tree #tree ul li a.pending {
    color: red; }
#main_content #pageArea.loading {
  opacity: 0.3; }
#main_content .editable:hover {
  background: #FFC; }
#main_content .editable_field input {
  width: 88%; }
#main_content #page_details, #main_content #page_tools {
  clear: left;
  float: left; }
#main_content #page_details {
  width: 600px;
  margin: 0 0 1em 0; }
  #main_content #page_details dl {
    width: 600px;
    margin: 0; }
  #main_content #page_details dt {
    width: 60px;
    border: none;
    padding: 0.1em 10px 0.1em 0; }
  #main_content #page_details dd {
    margin-left: 60px;
    border: none;
    padding: 0.1em 0; }
    #main_content #page_details dd label {
      font-weight: normal; }
      #main_content #page_details dd label:hover {
        background: #FFC; }
#main_content #page_preview {
  width: 630px;
  overflow: hidden; }
  #main_content #page_preview #preview_contents {
    float: none; }
    #main_content #page_preview #preview_contents h1 {
      font-size: 2em;
      color: inherit; }
    #main_content #page_preview #preview_contents h2 {
      font-size: 1.6em;
      color: inherit; }
    #main_content #page_preview #preview_contents h3 {
      font-size: 1.3em;
      color: inherit; }
    #main_content #page_preview #preview_contents a {
      text-decoration: underline; }

ul#report_list {
  margin: 0;
  width: 400px; }
  ul#report_list li {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 0.75em 10px;
    background-color: #f2f2f2;
    position: relative; }
    ul#report_list li.odd {
      background-color: #fff; }
    ul#report_list li:hover {
      background-color: #f0f6fa; }
  ul#report_list a.xls {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/icons/Accounts Payable_16x16.png');
    opacity: 0.7;
    text-indent: -9999em; }
    ul#report_list a.xls:hover {
      opacity: 1; }
  ul#report_list a {
    color: #333333;
    text-decoration: none; }
    ul#report_list a:hover {
      color: #14546f; }

div.pagination {
  background: #f0f6fa;
  border-bottom: 1px solid #ccc;
  font-size: 0.9em;
  padding: 6px 150px;
  position: relative;
  text-align: center; }
  div.pagination a {
    text-decoration: none; }
    div.pagination a:hover {
      text-decoration: underline; }
  div.pagination .prev_page, div.pagination .next_page {
    position: absolute; }
  div.pagination .prev_page {
    left: 10px; }
  div.pagination .next_page {
    right: 10px; }
  div.pagination .current {
    font-weight: bold; }
  div.pagination .disabled {
    color: #7a8d99; }

ul.view_modes {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  top: 1px;
  z-index: 42; }
  ul.view_modes li {
    list-style: none;
    float: left;
    margin-right: 1px; }
    ul.view_modes li a {
      display: block;
      background: #14546f;
      padding: 5px 10px;
      color: white;
      text-decoration: none;
      border: 1px solid #333; }
      ul.view_modes li a:hover {
        background: #f0f6fa;
        color: #14546f; }
      ul.view_modes li a.selected {
        background: white;
        color: #14546f;
        border-bottom: 1px solid #fff; }

#session_info {
  background: #333333;
  border: 1px solid #999;
  color: #999;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: -1px;
  padding: 0 10px 2em 10px;
  position: absolute;
  text-align: center;
  top: -999em;
  right: 25px;
  width: 175px; }
  #session_info a {
    color: #51a7cb;
    font-weight: normal; }
    #session_info a:hover {
      color: #63cbf7; }
  #session_info h2 {
    bottom: 5px;
    font-size: 1em;
    left: 10px;
    margin: 0;
    position: absolute;
    text-align: center; }
    #session_info h2 a {
      background: transparent url('/images/session_info_arrows.png') no-repeat 0 50%;
      border-top: 1px solid #345;
      color: #567;
      display: block;
      font-weight: bold;
      text-decoration: none;
      width: 175px; }
      #session_info h2 a:hover {
        color: #51A7CB; }
  #session_info ul {
    margin: 0;
    padding: 1em 0; }
    #session_info ul li {
      list-style: none; }
  #session_info small {
    font-size: 0.9em; }

#main_content p.cop_description {
  font-size: 13px;
  line-height: 1.2em; }
#main_content div.hint_toggle {
  color: #14546f;
  font-weight: bold;
  margin: 1em 0;
  cursor: pointer; }
#main_content div.hint_text ul {
  margin: 0;
  padding: 0 0 0 0; }
  #main_content div.hint_text ul li {
    list-style-type: disc;
    margin: 0 0 0.5em 2em; }
#main_content dt {
  clear: left;
  color: #14546f; }
#main_content span.human_right {
  color: #f7931e; }
#main_content span.labour {
  color: #52c6d8; }
#main_content span.environment {
  color: #688442; }
#main_content span.anti_corruption {
  color: #ed1c24; }
#main_content dd:empty {
  min-height: 12px; }
#main_content dd ul {
  margin: 0;
  list-style: none; }
  #main_content dd ul li {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
    list-style-type: none; }
    #main_content dd ul li:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0; }
    #main_content dd ul li p {
      line-height: 1.2em; }
#main_content dd ul.questionnaire, #main_content dd ul.basic_question {
  margin: 0;
  list-style: none; }
#main_content dd ul:first-child {
  padding-top: 0; }
#main_content dd ul li.question_group {
  font-weight: bold;
  color: #14546f;
  padding-top: 0;
  margin-bottom: 0;
  border-bottom: 0; }
#main_content dd ul li.question_text, #main_content dd ul li.unselected_question, #main_content dd ul li.selected_question {
  list-style-type: none; }
  #main_content dd ul li.question_text p, #main_content dd ul li.unselected_question p, #main_content dd ul li.selected_question p {
    font-style: italic; }
#main_content dd ul li.question_response {
  padding-top: 0;
  margin-bottom: 1em; }
#main_content dd ul li.selected_question {
  list-style-type: disc;
  list-style-image: url(/images/checked.png); }
#main_content dd ul li.unselected_question {
  list-style-type: circle;
  list-style-image: url(/images/unchecked.png); }
#main_content dd ul.questionnaire li.unselected_question p, #main_content dd ul.questionnaire li.selected_question p {
  font-style: normal; }
#main_content dd ul.questionnaire li.question_group {
  margin-bottom: 1em; }
#main_content div.principles {
  margin: 0 0 0 10px;
  font-size: 12px;
  color: #14546f;
  line-height: 1.3em;
  font-weight: bold; }
