#page_tree_wrapper {
	padding: 1em;
}

.outside {
	height: 450px;
	float: left;
	border: 1px solid;
	overflow: auto;
}

.inside {
	padding: 0.5em 1em;
}

#page_container {
	width: 60%;
}

#tree_container {
	width: 38%;
	margin-right: 0.5em;
}

#loading {
	background: url('/images/indicator.white.gif') 5px 5px no-repeat #FFC;
	padding: 0.5em 2em 0.5em 2em;
	position: fixed;
}

#tree ul li a.hidden {
	opacity: 0.4;
}