%li.item{:id => dom_id(logo_comment)}
  .meta
    %p.name= logo_comment.contact.name
    %p.datetime= logo_comment.created_at.strftime '%d-%b-%Y %I:%M%p'
  .body
    %p= simple_format(logo_comment.body)
