<header id='main-header' class="navbar navbar-inverse navbar-fixed-top">
  <nav class='container'>
    <div class="navbar-header">
      <a class="navbar-brand" href="/redesign/admin/"><span>UNGC Admin</span></a>
    </div>
    <div class='navbar-right'>
      <ul class="nav navbar-nav navbar-left">
        {{#link-to "containers.index" tagName="li"}}
          {{#link-to "containers.index"}}<i class='fa fa-sitemap fa-fw' aria-hidden='true'></i>Sitemap{{/link-to}}
        {{/link-to}}
        {{#link-to "containers.needs-approval" tagName="li"}}
          {{#link-to "containers.needs-approval"}}<i class='fa fa-check-square-o fa-fw' aria-hidden='true'></i>Approve{{/link-to}}
        {{/link-to}}
        {{#link-to "images" tagName="li"}}
          {{#link-to "images"}}<i class='fa fa-picture-o fa-fw' aria-hidden='true'></i>Images{{/link-to}}
        {{/link-to}}
      </ul>
      <a {{action "logout"}} href="#" class='logout btn btn-default navbar-btn navbar-right'>Logout<i class='fa fa-sign-out fa-fw' aria-hidden='true'></i></a>
    </div>
  </nav>
</header>

<main class="container">
  {{outlet}}
</main>

<footer class="container">
  <p>&copy; United Nations Global Compact</p>
</footer>
