<header id='main-header' class="navbar navbar-inverse navbar-fixed-top">
  <nav class='container'>
    <div class="navbar-header">
      <a class="navbar-brand" href="/redesign/admin/"><span>UNGC Admin</span></a>
    </div>
    <div class='navbar-container'>
      <ul class="nav navbar-nav">
        <li>
          <a href="/admin"><i class='fa fa-bars fa-fw' aria-hidden='true'></i><span>Admin</span></a>
        </li>
        {{#link-to "containers.index" tagName="li"}}
          {{#link-to "containers.index"}}<i class='fa fa-sitemap fa-fw' aria-hidden='true'></i><span>Sitemap</span>{{/link-to}}
        {{/link-to}}
        {{#link-to "containers.needs-approval" tagName="li"}}
          {{#link-to "containers.needs-approval"}}<i class='fa fa-check-square-o fa-fw' aria-hidden='true'></i><span>Approve</span>{{/link-to}}
        {{/link-to}}
        {{#link-to "images" tagName="li"}}
          {{#link-to "images"}}<i class='fa fa-picture-o fa-fw' aria-hidden='true'></i><span>Images</span>{{/link-to}}
        {{/link-to}}
      </ul>
      <a {{action "logout"}} href="#" class='logout btn btn-default navbar-btn'><span>Logout</span><i class='fa fa-sign-out fa-fw' aria-hidden='true'></i></a>
    </div>
  </nav>
</header>

<main class="container">
  {{outlet}}
</main>

<footer class="container">
  <p>&copy; United Nations Global Compact</p>
</footer>
