<section>
  <nav class="nav navbar-default">
    <div class="container-default">
      {{!--
      {{#link-to "containers.index" class="navbar-brand"}}
        Sitemap
      {{/link-to}}
      --}}

      {{#link-to "containers.new" class="btn btn-success navbar-btn"}}
        New Page
      {{/link-to}}
    </div>
  </nav>

  {{outlet}}
</section>
