<div class="form-group">
  <label class="control-label col-sm-2" for={{field.uid}}>
    {{field.label}}
  </label>
  <div class="col-sm-10">
    {{input type="text"
      class="form-control"
      id=field.uid
      value=field.value}}
  </div>
</div>
