<div class="form-group">
  <label class="control-label col-sm-2" for={{uid}}>
    {{field.label}}
  </label>
  <div class="col-sm-10">
    {{fast-select
      class="form-control"
      valuePath="id"
      id=field.uid
      items=items
      value=field.value}}
  </div>
</div>
