<p id="cookie-notice">
  <button class="close">AGREE</button>
  We use cookies to improve our site and to analyze traffic. By clicking “agree”, closing this message or continuing to use this site, we consider that you agree to our use of cookies in accordance with our <a href="/privacy-policy/cookies_notice">Cookie Notice</a>.
</p>
