<div class="field" id="select-invoice-date">
  Please select your company’s preferred invoice date:
  <% options.each do |text, date| %>
    <label>
      <%= radio_button_tag(:preset_invoice_dates, date) %>
      <%= text %>
    </label>
  <% end %>
  <%= form.date_field(:invoice_date, min: Date.current, max: 1.year.from_now) %>
</div>
