- if p_with_link_to_local_network
  %h3 Website
  =p_with_link_to_local_network

.left
  %h3 Local Network Reports
  =link_to_annuaL_report_if_file_exists

.right{ :style => "text-align: left;" }
  %h3 Benefits of Participation
  =link_to_value_proposition_if_file_exists

.clearfix

%hr/

.clearfix
  .left
    %h2
      Contact Information
    - for contact in local_network_contacts do
      %p
        = formatted_local_network_contact_info(contact)
  .right{ :style => "text-align: left;" }
    %h2
      Participant Information
    %p
      Participation in the Global Compact does not necessarily reflect participation in the Global Compact Local Network.
    = p_with_link_to_participant_search
    = display_latest_participant_for_local_network
  .clearme
    \&nbsp;
