United Nations Global Compact
%br/
685 Third Avenue, FL 12
%br/
New York, NY 10017
%br/
Email: info@unglobalcompact.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org