@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"

body
  > div > main
    margin-top: 50px

.sitemap-x-tree
  margin: 0
  padding: 0
  margin-top: 12px
  min-height: 600px

  ul
    margin: 0
    padding: 0
    margin-left: 32px

  li
    margin: 0
    padding: 0
    list-style: none

    &:last-child
      border-bottom: none

.sitemap-x-node
  border: 2px solid transparent
  border-style: solid none solid none

  &.might-drop-inside
    background: rgba(yellow, 0.5)
  &.might-drop-above
    border-top: 2px solid yellow
  &.might-drop-below
    border-bottom: 2px solid yellow

.sitemap-x-label
  border-bottom: 1px solid #eee
  line-height: 40px
  padding: 0 8px
  font-size: 18px

  .node-actions
    opacity: 0
    float: right
    transition: opacity 0s 0.25s ease-in

  &:hover
    background-color: #f6f6f6

    .node-actions
      opacity: 1
