@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap"
@import settings/icons

body
  font-family: Roboto, Helvetica, Arial, sans-serif
  background-color: #fcfcfc

  > div > main
    margin-top: 50px

.fa
  +font-smoothing(antialiased)

.sitemap-x-tree
  margin: 0
  padding: 0
  margin-top: 12px
  min-height: 600px

  ul
    margin: 0
    padding: 0
    margin-left: 32px

  li
    margin: 0
    padding: 0
    list-style: none

    &:last-child
      border-bottom: none

.sitemap-x-node
  border: 2px solid transparent
  border-style: solid none solid none

  &.might-drop-inside
    background: rgba(yellow, 0.5)
  &.might-drop-above
    border-top: 2px solid yellow
  &.might-drop-below
    border-bottom: 2px solid yellow

.sitemap-x-label
  border-bottom: 1px solid #eee
  line-height: 40px
  padding: 0 8px
  font-size: 18px

  .node-actions
    opacity: 0
    float: right
    transition: opacity 0s 0.25s ease-in

  &:hover
    background-color: #f6f6f6

    .node-actions
      opacity: 1

// Bootstrap recommended Firefox fieldsets fix
@-mox-document url-prefix()
  fieldset
    display: table-cell

#main-header
  box-shadow: 0 1px 5px rgba(black, .2)
  padding: .5em 0

  .navbar-brand
    span
      display: none

    &:before
      font-size: 2.5em
      +logo('ungc')

  .navbar-nav .fa
    margin-right: .25em

  .logout
    margin-left: 1em

    .fa
      margin-left: .5em

#main-page-header
  padding: 4em 0 1em
  margin: 0 0 2em
  border-bottom: 1px solid #ddd

  h1,
  h2,
    display: inline-block
    font-size: 2em
    margin: 0
    vertical-align: middle

  h1 .fa
    color: #999

  h2
    font:
      size: 1.25em
      weight: 400
    margin: 0 .75em
    color: #666

    span
      display: none

  code
    color: #444
    background: #eee

  .btn
    text-transform: uppercase
    font-weight: 700
    +font-smoothing(antialiased)

  h3
    font-size: 1em
    padding: 1em 0 0
    border-top: 1px solid #ddd
    margin: 1.5em 0 0
    text:
      align: center
      transform: uppercase

    code
      background: #bbb
      color: white
      padding: .25em .5em
      margin-left: 1em

fieldset
  margin: 0 0 4em
  padding: 0 1em 1em
  border-radius: .25em
  background: white
  box-shadow: 0 0 3px rgba(black, .1)

  legend
    display: inline-block
    width: auto
    text-transform: uppercase
    padding: .5em 1em
    font:
      size: 1.25em
      weight: 500
    line-height: 1
    border: 0
      radius: .25em
    background: #222
    color: white
    box-shadow: 0 0 3px rgba(black, .2)
    +font-smoothing(antialiased)

  h2
    font:
      size: 1.5em
      weight: 700
    margin: 2em 0 1em
    border-bottom: 1px solid #eee

.input-group
  margin-bottom: .5em

.repeated-content-list
  counter-reset: repeated-content-counter
  list-style: none
  padding: 0
  margin: 0

.repeated-content-item
  padding: 0 1em 1em
  border-radius: .25em
  margin: 0 0 2em
  box-shadow: 0 0 2px rgba(black, .2)

.repeated-content-header
  background: #f6f6f6
  padding: .5em
  margin: 0 -1em 1em
  border:
    bottom: 1px solid #eee
    radius: .25em .25em 0 0

  &:before
    counter-increment: repeated-content-counter
    content: counter(repeated-content-counter)
    display: block
    float: left
    background: #222
    color: white
    font:
      size: 1.5em
      weight: 500
    padding: .1em .5em 0
    border-radius: .125em

.repeated-content-list .repeated-content-list
  counter-reset: repeated-nested-content-counter

  .repeated-content-header:before
    counter-increment: repeated-nested-content-counter
    content: counter(repeated-content-counter) '.' counter(repeated-nested-content-counter)

.actions-bar
  position: fixed
  left: 0
  right: 0
  bottom: 0
  margin: 0
  padding: .5em 0
  background: rgba(white, .95)
  box-shadow: 0 0 5px rgba(black, .2)
  z-index: 9999

  .form-group
    margin-bottom: 0

  .btn
    float: right
    margin-left: 1em

  legend
    display: none

// flash messages
.alert
  position: fixed
  bottom: 3em
  right: 1em
  min-width: 30em
  z-index: 9999
