- form_for @signing = @initiative.signings.new(:added_on => Date.today), builder: DefaultFormBuilder, :url => admin_initiative_signings_path(@initiative) do |form|
  %fieldset{:style => 'width: 50%;'}
    %ol
      %li= form.collection_select :organization_id, Organization.all(:order => :name), :id, :name
      %li= form.text_field :added_on, {class: 'datepicker iso-date'}, :label => 'Signing Date', :class => 'datepicker iso-date'
  = form.submit 'Add'