- @title = @headline.title
%div.news
  %h1= @headline.title
  %div= @headline.description
  <div style="position: absolute; top: 10px; left: 528px; width: 100px;" class="addthis_toolbox addthis_default_style">
  <a class="addthis_button_facebook"></a>
  <a style="margin-left: 6px;" class="addthis_button_twitter"></a>
  <a style="margin-left: 6px;" class="addthis_button_linkedin"></a>
  <a style="margin-left: 6px;" class="addthis_button_digg"></a>
  </div>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
