<fieldset>
  <legend>Related Content</legend>
  {{#container/x-fields key="relatedContents" array=true min=0 max=2 scope=scope as |relatedContent|}}
    {{container/x-field key="title" type="string" limit=50 scope=relatedContent}}
    {{#container/x-fields tagName="ol" key="contentBoxes" array=true size=3 scope=relatedContent as |boxes|}}
      <li class="stat-group">
          {{container/x-field key="containerPath" type="string" scope=boxes}}
      </li>
    {{/container/x-fields}}
  {{/container/x-fields}}
</fieldset>
