<header id='main-page-header'>
  <h1><i class='fa fa-picture-o fa-fw' aria-hidden='true'></i>Edit Image</h1>
</header>
{{images/x-image-edit model=model}}
{{#each flashMessages.queue as |flash|}}
  {{flash-message flash=flash}}
{{/each}}
