<%= render partial: 'redesign/components/meta_tags' %>
<%# Body %>
<%= render partial: 'redesign/components/hero' %>

  <section class='main-content-section'>
    <%= content_tag(:header, content_tag(:h1, @page.name, {class: 'main-content-header'})) %>

    <section class='main-content-body'>
      <%= @page.description.try(:html_safe) %>
    </section>

    <%- #TODO add contact widget, we do not have pictures,  @page.public_network_contacts.first %>

    <%- #TODO add static call to action to share your success page %>
  </section>
