.library.index
  = render partial: 'components/meta_tags'
  = render partial: 'library/components/hero'
  = render layout: 'library/components/featured', locals: { blocks: @page.featured} do |block|
    = render 'components/resource_block', block: block
