.click_to_edit
  -# NOTE: Will float right, so place here in reverse order
  = link_to 'Click to edit', versioned_edit_path, :class => 'edit_content', :title => "Edit this page"
  / = link_to 'Next &gt;', "#version_#{@current_version.next_version.version_number}" if @current_version.next_version
  / = link_to '&lt; Previous', "#version_#{@current_version.previous_version.version_number}" if @current_version.previous_version
  / = link_to '&laquo; Current', view_page_path(:path => @page.to_path) unless @current_version.approved?
#editorLoading{:style => 'display:none; margin: -5px 5px 0px 0px;'}= image_tag 'indicator.white.gif'

