%tr
  %td.author-name= select_tag 'resource[author_ids][]', options_from_collection_for_select(authors, :id, :full_name, author_id), {include_blank: true}
  %td.author-edit= button_tag '', class:'remove_author'
