.content-blocks
  clear: both

  + .content-blocks
    margin-top: 4em

.content-blocks-header
  position: relative
  padding: 0 0 .5em

  h1
    margin: 0 12% 0

  .view-all
    display: block
    position: absolute
    bottom: .7em
    right: 5%
    font:
      size: 1.125em
      family: $flama-bold
    text-transform: uppercase
    color: color('grey')

    &:after
      +fa-icon
      content: $fa-var-play-circle
      margin-left: .25em

    &:hover,
    &:active
      color: color('teal')

.content-blocks-list
  list-style: none
  padding: 0
  +clearfix
