.events-news-component
  padding: 3em 0
  background: lighten(color('pastel-blue'), 20%)

  .tabs,
  .tab-content.active
    margin: 0 7%

    @media only screen and (min-width: 1281px)
      margin: 0

  .tab
    width: 33.3%

  .date-location
    background: rgba(black, .3)
    color: white
    padding: .5em 20px
    font-family: $flama-book

  .tab-content-header
    display: none

  p,
  time,
  address,
  .tag
    font-size: .875em

  time,
  address,
  .tag
    line-height: 1.2

  .event,
  .news-item
    color: color('grey')

    h1,
    h2
      color: color('light-blue')

    h1
      margin: 0 0 1em

    h2
      margin: .25em 0 0

    &:hover,
    &:active
      color: color('teal')

      h1,
      h2
        color: inherit

      .date-location
        background: rgba(color('dark-teal'), .3)


  .column
    float: left
    width: 33.3%
    margin: 0
    padding: 0 0 20px 20px
    list-style: none

    h1,
    h2
      font:
        size: 1em
      line-height: 1.2

    li
      padding: 20px 0
      border-bottom: 1px solid #ddd

      &:last-of-type
        border-bottom: 0

  .thumbnail
    padding-top: 40%
    background:
      position: center center
      repeat: no-repeat
      size: cover
    margin: -1px 0 1em -21px

  .events-component-footer
    position: absolute
    right: .5em
    bottom: .5em
    font-family: $flama-bold
