#filters-form
  display: block
  padding: 1em 2em 1em
  +font-smoothing(antialiased)
  +clearfix

  &:first-child
    padding-top: 10em

  header
    margin: 0 0 1em
    +clearfix

    h1
      margin: 0
      float: left

    #section-search
      float: right
      margin: .75em 0 0

  fieldset
    border: 0
    padding: 0
    margin: 0

  #section-search
    position: relative

    button
      position: absolute
      padding: 0 .5em .15em
      margin: 0
      top: 1px
      right: 1px
      bottom: 1px
      background: transparent
      color: #ccc
      font-size: inherit
      z-index: 2

      span
        display: none

      &:before
        +fa-icon
        content: $fa-var-search

      &:hover,
      &:active
        background: color('teal')
        color: white

    input[type=search]
      position: relative
      padding: .25em 2em .25em .25em
      border: 1px solid #ccc
      background: color('dark-grey')
      color: white
      z-index: 1

      &:focus
        background: white
        color: #222

  fieldset.filter-lists
    position: relative
    padding: 0 0 1em
    border-bottom: 1px solid #eee
    +clearfix

  .reset-and-submit
    display: none

  .results-count
    font-size: 1.25em
    margin: .5em 0 0

  fieldset.filter-sorting
    float: right
    width: 25%
    margin: 1em 0 0
    +clearfix

    select
      display: block
      float: left
      width: 47.5%
      margin: 0 5% 0 0

      &:last-of-type
        margin-right: 0
