#hero
  position: relative
  padding: 14em 0 6em
  background: lighten(color('pastel-blue'), 15%) url('//ungc.s3.amazonaws.com/hero/world.png') no-repeat
    position: top center
    size: cover
  min-height: 40em
  +font-smoothing(antialiased)

  &.hero-size-small
    min-height: 0
    padding-top: 13em

  &.dark-theme
    background-color: #111

  &.light-theme
    background-color: #ccc

  &.has-issues-nav
    padding-bottom: 8em

  *
    position: relative
    z-index: 2

  &.has-custom-image
    background-position: center center

    &.dark-theme,
    &.light-theme
      &:before
        display: block
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 10%
        bottom: 0
        background: top left no-repeat
          size: cover
          blend-mode: screen
        z-index: 1

    &.dark-theme:before
      +linear-gradient(90deg, rgba(black, .4) 40%, transparent, $fallback: transparent)

    &.light-theme:before
      +linear-gradient(90deg, rgba(white, .7) 40%, transparent, $fallback: transparent)

  h1
    margin: -1em 0 0 12%
    font-size: 2.626em
    line-height: 1
    color: white

    span
      display: inline-block
      margin: 0 0 .025em
      padding: 0 .25em .3em
      background:
        color: rgba(color('dark-teal'), .8)
        blend-mode: multiply
      vertical-align: middle

      &:first-of-type
        padding-top: .15em

  .blurb
    font-size: 1.125em
    margin: 1em 0 0 12%
    max-width: 580px

  &.dark-theme .blurb
    color: white

  .button
    margin: 1em 0 0 12%
    background: rgba(color('teal'), .8)

    &:hover,
    &:active
      background: rgba(white, .8)


#issues-nav
  list-style: none
  display: table
  width: 90%
  position: absolute
  left: 0
  right: 0
  bottom: 1px
  padding: 0
  margin: 0 auto
  max-width: 1200px
  text-align: center
  font:
    family: $flama-condensed-medium
    size: 1.375em

  li
    display: inline-block
    vertical-align: top
    margin: 0
    padding: 0 1px
    width: 27%

    &:last-of-type
      margin-right: 0

  a
    display: block
    background:
      color: rgba(color('dark-teal'), .7)
      blend-mode: multiply
    color: white
    text-align: center
    padding: 1em 0 .75em
    white-space: nowrap
    height: 3.5em
    +transition-property(background-color color)
    +transition-duration(150ms)

    &:before
      display: inline-block
      position: relative
      top: -0.1em
      content: ''
      background: center center no-repeat
        size: contain
      vertical-align: middle
      margin: 0 .5em 0 0
      +size(1.8em)

    &:hover,
    &:active
      background: color('teal')

    &:active
      +transition-duration(0ms)

  .see-all
    width: 18%
    a:before
      display: none

  .environment a:before
    background-image: image_url('https://d306pr3pise04h.cloudfront.net/icons/issues/environment.png')

  .social a:before
    background-image: image_url('https://d306pr3pise04h.cloudfront.net/icons/issues/social.png')

  .governance a:before
    background-image: image_url('https://d306pr3pise04h.cloudfront.net/icons/issues/governance.png')
