.library-filters-form
  display: block
  padding: 10em 2em 3em

  header
    +clearfix

    h1
      margin: 0
      float: left

    .search-field
      float: right
      margin: 1.25em 0 0

  fieldset
    border: 0
