.library-filters-form
  display: block
  padding: 10em 2em 1em
  +font-smoothing(antialiased)
  +clearfix

  header
    margin: 0 0 1em
    +clearfix

    h1
      margin: 0
      float: left

    #search-field
      float: right
      margin: 1.25em 0 0

  fieldset
    border: 0
    padding: 0

fieldset.filter-lists
  position: relative
  padding: 0 0 1em
  border-bottom: 1px solid #eee
  +clearfix

.reset-and-submit
  display: none

.results-count
  font-size: 1.25em
  margin: .5em 0 0

.sorting
  float: right
  width: 25%
  margin: 1em 0 0
  +clearfix

  select
    display: block
    float: left
    width: 47.5%
    margin: 0

  #filter-content-type
    margin-right: 5%
