#main-header
  position: absolute
  top: 0
  left: 0
  right: 0
  color: white
  z-index: 99999
  +font-smoothing(antialiased)

  @media only screen and (min-width: 681px)
    background:
      color: rgba(color('dark-teal'), .85)
      blend-mode: multiply

  > .wrapper
    position: static
    padding: 0

    @media only screen and (min-width: 681px)
      padding: .75em 0 2em

    @media only screen and (min-width: 881px)
      padding: 1em 0 2.5em

    @media only screen and (min-width: 1001px)
      padding: 1.25em 0 3em

  .logo
    display: block
    position: relative
    color: inherit
    font-size: 2.25em
    line-height: 1
    padding: .2em 10px .25em 7px
    margin: 0
    background:
      color: rgba(color('dark-teal'), .85)
      blend-mode: multiply
    z-index: 9998

    @media only screen and (min-width: 681px)
      float: left
      font-size: 3em
      background: transparent
      padding: 0
      margin: 0 0 0 7px

    @media only screen and (min-width: 881px)
      margin-left: 5%

    @media only screen and (min-width: 1001px)
      font-size: 3.5em
      margin-left: 6.25%

    &:before
      +logo('ungc')

    h1
      display: none
