.main-content-section
  @extend %wrapper
  background: white
    position: center center
    repeat: no-repeat
    size: cover
  border: 1px solid #eee
    top: 0
    bottom: 0

  *
    position: relative

  > .wrapper
    padding: 1em 7% 4em 12%
    overflow: hidden

  &.align-center
    text-align: center

    > .wrapper
      padding: 1em 12% 4em

  &.main-content-section-wide > .wrapper
    padding-left: 7%

  &.main-content-section-narrow > .wrapper
    padding-right: 12%

  &.has-custom-bg > .wrapper
    padding:
      top: 6em
      bottom: 7em

  &:first-child
    padding-top: 8em

.main-content-header
  padding: 2em 0 1em
  clear: both

  h1
    font-size: 2.5em
    line-height: 1.2

.main-content-body
  float: left
  padding: 0
  width: 60%

  ul,
  ol
    padding: 0 0 0 3em

  li
    margin: 0 0 1em

  h1
    font-size: 2.5em

  h2
    font-size: 2em
    margin: 1.5em 0 1em

  h3
    font-size: 1.5em
    margin: 2em 0 1em

  h4
    font-size: 1.25em

  h5
    font-size: 1em

  h1,
  h2,
  h4,
  h4,
  h5
    + h2,
    + h3,
    + h4,
    + h5,
    &:first-child
      margin-top: 0


  table
    border: 1px solid #ccc
    margin: 0 0 1.5em

    &:last-child
      margin-bottom: 0

    th,
    td
      text-align: left
      border-bottom: 1px solid #ccc
      padding: .5em

    th
      background: #efefef
      font-weight: bold

  .button
    margin-top: 1em

  .widget-links-list
    font-weight: 500
    margin-top: 3em

.align-center
  .main-content-body
    float: none
    margin: 0 auto
    width: auto

  .article-sidebar
    float: none
    margin: 2em auto 0
    padding: 0

.dark-theme
  color: #eee
  background-color: #111

  &:before
    content: ''
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(black, .3)

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    color: white

.video-iframe
  position: relative
  width: 100%
  padding: 62.5% 0 0
  margin: 0 0 1.5em
  overflow: hidden

  iframe
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    height: 100%
    width: 100%

time.resource-year
  display: block
  margin: 0 0 1.5em
