#main-footer
  background-color: color('grey')
  padding: 3% 0
  font-size: 1.125em
  color: white
  +font-smoothing(antialiased)

  > .wrapper
    @media only screen and (max-width: 880px)
      padding: 0 10px

  a
    color: inherit

    &:hover,
    &:active
      text-decoration: underline

  ul
    list-style: none
    padding: 0

  .column
    margin: 0 0 2em

    @media only screen and (min-width: 481px)
      float: right
      width: 48%

      &:first-of-type
        margin-left: 4%

      &:last-of-type
        clear: both
        width: 100%

    @media only screen and (min-width: 881px)
      float: right
      margin: 0 1.5%

      &,
      &:last-of-type
        width: 28%

      &:last-of-type
        clear: none
        margin-left: 5%

      &:first-of-type
        margin: 0 5% 2em 1.5%

    @media only screen and (min-width: 1001px)
      margin: 0 1.5%

      &,
      &:last-of-type
        width: 27.1667%

      &:last-of-type
        margin-left: 6.25%

      &:first-of-type
        margin-right: 6.25%

  h2
    color: color('pastel-blue')
    font:
      family: $flama-bold
      size: 1em
    text-transform: uppercase
    padding: 0 0 .5em
    border-bottom: 1px solid lighten(color('grey'), 6%)
    margin: 0 0 .5em

  .social
    list-style: none
    padding: 0
    margin: 0 0 2em

    li
      display: inline-block
      margin: 0 .5em .5em 0

    span
      display: none

    a
      color: color('light-grey')

      &:before
        +fa-icon
        font-size: 1.66667em

      &:hover,
      &:active
        color: white

    .twitter:before
      content: $fa-var-twitter-square

    .youtube:before
      content: $fa-var-youtube-square

    .linkedin:before
      content: $fa-var-linkedin-square

    .facebook:before
      content: $fa-var-facebook-square

    .flickr:before
      content: $fa-var-flickr

    .rss:before
      content: $fa-var-rss-square

  .contribute
    margin-bottom: 3em

    h2
      color: white
      text-transform: none
      font-size: 1.1111em
      padding: 0
      border-bottom: 0
      margin: 0 0 1em

    a
      +button
      display: block

  .contact a
    text-decoration: underline

    &:hover,
    &:active
      color: color('light-teal')

  iframe.twitter-timeline-rendered
    width: 100% !important
