.news-list
  padding: 0 12%

  .news-item
    padding: 1em
    margin: 0 0 2em
    border: 1px solid #ccc

    h1
      margin: 0 0 .5em
      font-size: 1.125em

    time,
    address
      font-weight: 900

    address
      margin: 0 0 .5em

    p:last-of-type
      margin-bottom: .5em

  .view-all,
  .read-more
    &:after
      +fa-icon
      content: $fa-var-caret-right
      margin: 0 0 0 .5em

  .view-all
    display: block
    clear: both
    text-align: right
    padding: 1em 0
    color: color('grey')
    font-weight: 900

    &:after
      color: color('light-blue')

    &:hover,
    &:active
      color: color('light-blue')

  .read-more
    color: color('light-blue')

    &:hover,
    &:active
      color: color('pastel-blue')

  &.news-list-landing
    padding-right: 0
    float: left
    width: 60%

    h1 a:after
      +fa-icon
      content: $fa-var-caret-right
      margin: 0 0 0 .5em

    .news-item
      padding: 0
      border-width: 0

    .news-item-featured
      padding: 0 0 1em
      border-bottom-width: 1px

