.component-partners
  clear: both
  padding: 3em 5% 2em
  background: #f6f6f6

.component-partners-list
  list-style: none
  padding: 0
  margin: 0
  +clearfix

  li
    display: inline-block
    width: 33%
    vertical-align: middle
    text-align: center

    img
      width: 70%

    &:first-child
      text-align: left

    &:last-child
      text-align: right
