.component-participants-table-embedded
  @extend %wrapper
  clear: both

  > .wrapper
    padding: 3em 0 2em
    margin: 0 10px

  .component-header .view-all span
    display: none

  table .sector
    display: none

  @media only screen and (min-width: 501px)
    table .sector
      display: table-cell

  @media only screen and (min-width: 881px)
    > .wrapper
      margin: 0 5%

    .component-header .view-all span
      display: inline

  @media only screen and (min-width: 1001px)
    > .wrapper
      margin: 0 6.25%
