.article-sidebar
  padding: 0
  margin: 2em 0 0

  .widget
    margin: 0 0 3em

    h1
      font-size: 1.5em

  @media only screen and (min-width: 601px)
    float: right
    width: 34%
    margin: 0
