.stats-section
  @extend %wrapper
  text-align: center
  +font-smoothing(antialiased)

  > .wrapper
    margin: 0 7%

    @media only screen and (min-width: 1281px)
      margin: 0


  .stat
    float: left
    width: 33.333%
    padding: 2em 1px

  h1,
  h2
    margin: 0
    line-height: 1
    font:
      family: $flama-condensed-medium
      weight: 500
    text-transform: uppercase

  h1
    font-size: 4em

  h2
    font-size: 2em
