.tiles-section
  @extend %wrapper
  color: white
  +font-smoothing(antialiased)

  a
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    color: inherit
    padding: 5% 7%

  h1
    font-size: 1em
    line-height: 1.1
    color: inherit
    margin: 0 0 1em

  .tile-blurb
    color: inherit
    display: none
    line-height: 1.3

  .tile-link-label
    display: block
    position: absolute
    left: 7%
    right: 13%
    bottom: 0
    padding: 0 0 7%
    font:
      family: $flama-bold
      weight: bold
    line-height: 1.1

    &:after
      +fa-icon
      content: $fa-var-play-circle
      position: relative
      top: .05em
      margin-left: .25em

  .tile
    position: relative
    float: left
    width: 33.333%
    height: 0
    padding: 33.333% 0 0
    border: 1px solid white
    margin: 0
    background:
      color: #f3f3f3
      position: center center
      repeat: no-repeat
      size: cover

    &.double-width
      width: 66.666%
      text-align: center

      h1
        font-size: 1.25em

      .tile-link-label
        padding-bottom: 3.5%
        right: 7%

    &.double-height
      padding-top: 66.666%

    &.double-width.double-height

      .tile-link-label
        position: relative
        padding: 0
        left: 0
        right: 0

    &.color-light-blue
      background-color: color('light-blue')

      &.double-height
        border-bottom-color: color('light-blue')

      .tile-link-label
        color: color('pastel-blue')

    &.color-pastel-blue
      background-color: color('pastel-blue')

      &.double-height
        border-bottom-color: color('pastel-blue')

      .tile-link-label
        color: color('light-blue')

    &.color-teal
      background-color: color('teal')

      &.double-height
        border-bottom-color: color('teal')

      .tile-link-label
        color: color('light-teal')

    &.color-light-teal
      background-color: color('light-teal')

      &.double-height
        border-bottom-color: color('light-teal')

      .tile-link-label
        color: color('teal')

    &.color-green
      background-color: color('green')

      &.double-height
        border-bottom-color: color('green')

      .tile-link-label
        color: color('light-green')

    &.color-light-green
      background-color: color('light-green')

      &.double-height
        border-bottom-color: color('light-green')

      .tile-link-label
        color: color('green')

    &.color-orange
      background-color: color('orange')

      &.double-height
        border-bottom-color: color('orange')

      .tile-link-label
        color: color('dark-orange')

    a:hover,
    a:active
      .tile-link-label
        color: white

  @media only screen and (min-width: 701px)
    .tile
      width: 16.666%
      padding-top: 16.666%

      &.double-width
        width: 33.333%

      &.double-height
        padding-top: 33.333%

  @media only screen and (min-width: 881px)
    .tile-link-label
      font-size: 1.25em

    .tile

      &.double-width
        h1
          font-size: 1.5em

      &.double-width.double-height
        .tile-link-label
          font-size: 1.5em

        .tile-blurb
          display: block

  @media only screen and (min-width: 1081px)
    .tile

      &.double-width
        h1
          font-size: 1.75em

      &.double-height
        .tile-blurb
          display: block

      &.double-width.double-height
        h1
          font-size: 2.5em
