<h2>Submitted SDG Pioneer Applications</h2>

<%= link_to 'Business leaders', admin_sdg_pioneers_businesses_path %>
<%= link_to 'Local change-makers', admin_sdg_pioneers_individuals_path %>
<%= link_to 'Nominations', admin_sdg_pioneers_others_path %>
