<ul class='social'>
  <li>
    <a href="mailto:?&subject=UNGC Resource" class="mail"><span>Mail</span></a>
    <a href="https://twitter.com/globalcompact" class='twitter' target='_blank'><span>Twitter</span></a>
    <a href="https://www.facebook.com/UNGlobalCompact" class='facebook' target='_blank'><span>Facebook</span></a>
    <a href="https://www.linkedin.com/company/united-nations-global-compact" class='linkedin' target='_blank'><span>LinkedIn</span></a>
    </li>
</ul>
