%h2 New contact

- form_for(:contact, builder: DefaultFormBuilder, url: admin_organization_contacts_path(@organization.id)) do |form|
  = render :partial => form
  = form.submit 'Create', :class => 'button'
