<section class='content-blocks'>
  <header class='content-blocks-header'>
    <%= content_tag(:h1, title) %>
  </header>
  <%= render layout: 'redesign/components/content_blocks_list' do %>
    <%= yield %>
  <% end %>
</section>
