<section class='component-content-blocks'>
  <%= content_tag(:header, content_tag(:h1, title.try(:html_safe)), {class: 'component-header'}) if title ||= nil %>

  <ul class='component-content-blocks-list'>
    <%= yield %>
  </ul>
</section>
