<section class='content-blocks'>
  <%= content_tag(:header, content_tag(:h1, title), {class: 'content-blocks-header'}) if title ||= nil %>

  <ul class='content-blocks-list'>
    <%= yield %>
  </ul>
</section>
