<li class='filter-option'>
  <%- field_name = "search[#{filter}][]" -%>
  <%- id = "search_#{filter.pluralize}_#{option.id}" -%>
  <%= check_box_tag field_name, option.id, option.active, {id: id, active: option.active} %>
  <%= label_tag id, option.name %>
  <%= yield %>
</li>
