<li class='filter-option'>
  <%- field_name = "search[#{filter}][#{option.id}]" -%>
  <%= check_box_tag field_name, 1, option.active, {active: option.active} %>
  <%= label_tag field_name, option.name %>
  <%= yield %>
</li>
