<ul id='issues-nav'>
  <li class='environment'><%= link_to_redesign 'Environment',  '/what-is-un-global-compact/our-focus/environment' %></li>
  <li class='social'><%= link_to_redesign 'Social',            '/what-is-un-global-compact/our-focus/social' %></li>
  <li class='governance'><%= link_to_redesign 'Governance',    '/what-is-un-global-compact/our-focus/governance' %></li>
  <li class='see-all'><%= link_to_redesign 'See all issues',   '/what-is-un-global-compact/our-focus/all-issues' %></li>
</ul>
