<ul id='issues-nav'>
  <li class='environment'><%= link_to_redesign 'Environment',  '/about-gc/our-work/environment' %></li>
  <li class='social'><%= link_to_redesign 'Social',            '/about-gc/our-work/social' %></li>
  <li class='governance'><%= link_to_redesign 'Governance',    '/about-gc/our-work/governance' %></li>
  <li class='see-all'><%= link_to_redesign 'See All Our Work',   '/about-gc/our-work/all' %></li>
</ul>
