<%- if regions_nav = @page.regions_nav -%>
  <nav id='regions-nav'>

    <menu id='regions-nav-triggers'>
      <%- regions_nav.each do |region, network| %>
        <li><%= link_to_redesign region.name.try(:html_safe), region.url, data: {region: "region-#{region.parameterize}"}, class: 'region-nav-trigger' %></li>
      <%- end -%>
    </menu>

    <div id='regions-nav-container'>
      <%- regions_nav.each do |region, networks| %>
        <article class='regions-nav-region' data-region="region-<%= region.parameterize -%>">

          <h1>
            <%=link_to_redesign "#{region.name} Regional Page".html_safe, region.url -%>
          </h1>

          <ul class='regions-nav-countries'>
            <%- networks.each do |network| -%>
              <li class='regions-nav-country'>
                <%= link_to_redesign network.name, redesign_networks_show_path(region.region_param, network.name.downcase) %>
              </li>
            <%- end %>
          </ul>
        </article>
      <%- end %>
    </div>
  </nav>
<%- end -%>
