<%- if resources = @page.resources -%>
<section class='resource-blocks'>
  <header class='resource-blocks-header'>
    <h1>From Our Library</h1>
    <%= link_to 'View All', '', class: 'view-all' %>
  </header>
  <%= render partial: 'redesign/components/resources_list', locals: {resources: resources} %>
</section>
<%- end -%>
