<%- if attributes.any? -%>
<article class='resource-attributes-list'>
  <h1><%= title -%></h1>
  <ul>
    <%- attributes.each do |attribute| -%>
    <%# @ghedamat: not sure where these link to %>
    <li><%= link_to (attribute.try(:name) || attribute.try(:full_name)), '' -%></li>
    <%- end -%>
  </ul>
</article>
<%- end -%>
