<aside class='component-tied-principles'>
  Tied to Principles:
  <ul class='component-tied-principles-list'>
    <%- principles.each do |principle| -%>
    <li class='component-tied-principle'>
      <%= content_tag(:span, principle[:number], {class: 'component-tied-principle-number'}) %>
      <span class='component-tied-principle-detail'>
        <%= principle[:blurb] %>
        <%= link_to "More about Principle #{principle[:number]}", principle[:path] %>
      </span>
    </li>
    <%- end -%>
  </ul>
</aside>
