# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

default: &default
  secret_key_base: 53ec9ed590ff6b75755c8ce4def89d9916e0e0caac010ed149d704ad4673a92452637b805e55f82825c492ec668bcbc572dbf52df30144f65432121a0bc23d4e
  s3:
    access_key: amazonkey
    secret_key: amazonsecret
    bucket: amazonbucket
    region: buckeregion
    cloudfront: cloudfrontdist
  stripe:
    publishable_key: pk_test_Eq8IuCTAj3sJUNI8uflB78ip
    secret_key: sk_test_n9FIHSjSF2rqcuz4O90cAmqE
  docebo:
    url: https://ungc.docebosaas.com
    client_id: docebo_client_id
    client_secret: docebo_client_secret
    username: docebo_username
    password: docebo_password

development:
  <<: *default

test:
  <<: *default

staging:
  <<: *default

production:
  <<: *default
