# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 53ec9ed590ff6b75755c8ce4def89d9916e0e0caac010ed149d704ad4673a92452637b805e55f82825c492ec668bcbc572dbf52df30144f65432121a0bc23d4e

test:
  secret_key_base: fe372a6d88059189015f139dd09c261031ad4558b5a39f6fab9a26eb492eb7eacce7d768e06713bf8a7ba55e56dc9e13d35a09aff6be5f01ef44b9478b67cf19

# Do not keep production secrets in the repository,
# instead read values from the environment.
preview:
  secret_key_base: YOURKEY

staging:
  secret_key_base: YOURKEY

production:
  secret_key_base: YOURKEY
