%h2 Initiatives
= link_to 'Add an initiative', new_admin_initiative_path, :class => 'new', :id => 'new_initiative'

%table.dashboard_table#initiatives_table
  %tr
    %th.last_updated Last updated on
    %th.title Name
    %th.status Signatories
    %th.actions Actions
  = render @initiatives
