%p
  %b Name:
  =h @initiative.name

%p
  %b Signatories:
  =h @initiative.signings.count

%p= link_to 'Add signatory', '#'

%ul#signatories
  %li= render :partial => 'signing', :collection => @initiative.signings
