%h2 Countries
= link_to 'New country', new_admin_country_path, :class => "new_large", :id => "new_country"

%table.dashboard_table#countries_table
  %tr
    %th.title Name
    %th.title Local Network
    %th.status Region
    %th.actions Actions
  = render @countries
