%h2 Listing countries
= link_to 'Create a country', new_admin_country_path, :class => "new", :id => "new_country"

%table.dashboard_table#countries_table
  %tr
    %th.last_updated Last updated on
    %th.title Name
    %th.status Region
    %th.actions Actions
  = render @countries
