<p>Dear <%= @resource.name_with_title %>,</p>

<p>A request to reset your password was made at the UN Global Compact website. Please use the following link to select a new password:</p>

<p><%= link_to "Change password", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
  Your username is:
  <strong>
    <%= @resource.username %>
  </strong>
</p>

<p>Feel free to contact the Global Compact Office at globalcompact@un.org if you have any questions.</p>

<p>Sincerely,</p>
<p>The Global Compact Office</p>
United Nations Global Compact<br/>
Two United Nations Plaza<br/>
New York, NY 10017<br/>
Email: globalcompact@un.org<br/>
Website: <a href="http://www.unglobalcompact.org/">www.unglobalcompact.org</a>
