== Dear #{@contact.name_with_title},

%p A request to reset your password was made at the UN Global Compact website. Please use the following link to select a new password:

%p= link_to edit_password_url(:id => @contact.reset_password_token), edit_password_url(:id => @contact.reset_password_token)

%p
  Your username is:
  %strong= @contact.login

%p Feel free to contact the Global Compact Office at globalcompact@un.org if you have any questions. 

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org