== Dear #{@contact.name_with_title},

To reset your password to login at the Global Compact website:
==your username is: #{@contact.login}
= edit_password_url(:id => @contact.reset_password_token)

Sincerely,

The Global Compact Office

United Nations Global Compact
Two United Nations Plaza
New York, NY 10017
Email: globalcompact@un.org
Website: www.unglobalcompact.org
