<div class="form-group {{if field.hasErrors "has-error"}}">
  <div class="checkbox">
    <label>
      {{input type="checkbox" checked=field.value}}
      {{field.label}}
    </label>
  </div>

  {{#if field.errors}}
    <p class="help-block">{{field.errors.firstObject.detail}}</p>
  {{/if}}
</div>
