%p Thank you for submitting a request to use the UN Global Compact logo. We appreciate your organization taking the initiative in promoting the Global Compact and its principles.

%p== As the designated Contact Point for this request, #{@logo_request.contact.name} will be emailed at #{@logo_request.contact.email} within the next 7 days. Your logo samples will be reviewed and if revisions are required, you will be instructed to submit a revised sample.

%p If your logo request has been approved, you will be provided with instructions on downloading the logo files. If you do not receive an email within the next 7 days, you may login to check the status of your request at any time.
  
%p The UN Global Compact Office