%h2 Listing roles
= link_to 'Create a role', new_admin_role_path, :class => "new", :id => "new_role"

%table.dashboard_table#roles_table
  %tr
    %th.last_updated Last updated on
    %th.title Name
    %th.status Initiative
    %th.actions Actions
  = render @roles
