= default_form.error_messages
%fieldset
  %legend Details
  %ol
    = default_form.text_field :name
    = default_form.text_field :employees
    = default_form.select :organization_type_id, @organization_types.collect{|t| [t.name, t.id]}
