%p Thank you for writing to the Secretary-General to express your organization&rsquo;s support for the Global Compact&rsquo;s principles in the areas of human rights, labour, environment and anti-corruption. We applaud your leadership in making this decision and welcome your organization&rsquo;s participation in the Global Compact &ndash; the world&rsquo;s largest corporate citizenship initiative, with thousands of business participants and other stakeholders from civil society, labour and government located in 120 countries.

%p At the heart of the Global Compact is a conviction that organizational practices rooted in universal principles help the global marketplace to be more socially and economically inclusive, thus advancing collective goals of international cooperation, peace and development. Indeed, companies and other organizations participating in the Global Compact are working diligently to give concrete meaning to this principle-based change approach.

%p From the beginning, the Global Compact has considered the active engagement of non- business stakeholders a critical factor for making real progress. Your participation helps to foster this collaborative spirit which is so critical for tackling today&rsquo;s challenges.

%p The involvement of civil society, labour and the public sector serves many important purposes &ndash; bringing different strengths and perspectives to the corporate citizenship agenda. For example, these organizations provide expertise on issues, hold businesses accountable for their commitments, offer incentives and rewards for responsible actions, facilitate implementation of the principles, and serve as excellent partners on a variety of issues. We urge your organization to consider these and other relevant ways to advance the Global Compact. Additionally, you are encouraged to internalize the ten principles within your organization&rsquo;s strategies, policies and operations.

%p As a voluntary initiative, the Global Compact draws strength from our participants&rsquo; commitment and actions. To spur implementation and progress, we provide various learning and engagement opportunities for signatories. These include: 60-plus country and regional networks where issues and activities are driven at a local level; practical tools and guidance documents on the principles and other priority issues; and international and local events where multi- stakeholder participants can exchange experiences, partake in learning and problem-solving exercises, engage in dialogue and identify like-minded organizations for partnering projects.

%p Further details on such activities can be found in the attached guidance document, &ldquo;After the Signature: A Guide to Engagement in the United Nations Global Compact&rdquo; and on the Global Compact website (www.unglobalcompact.org).

%p.addressee
  = @organization.contacts.ceos.first.full_name_with_title
  <br />
  = @organization.contacts.ceos.first.job_title
  <br />
  = @organization.name
  <br />
  = @organization.contacts.ceos.first.city

%p.new_page Credibility and accountability are critical factors for advancing the Global Compact. We encourage all organizations engaged in the initiative to communicate with their stakeholders about efforts to promote and implement the initiative&rsquo;s ten principles and to engage in collaborative projects which advance the broader development goals of the United Nations, particularly the Millennium Development Goals. To start, your organization may wish to inform stakeholders &ndash; such as members, employees and partners &ndash; and the general public about your decision to support the Global Compact.

%p Again, we thank you for joining the Global Compact. We are eager to hear your ideas and experiences, and encourage you to share your views with us. We stand ready to support your efforts to advance the initiative&rsquo;s ten universal principles and contribute to a more sustainable and inclusive global economy.