- @title = 'Tools and Resources'
.resource-toggle-views
  %button.browse Featured Resources
  %button.search Search Options

#resources_featured
  = render :partial => 'featured'

#resources_search
  = render :partial => 'search_form'
