%h2 New Reporting Cycle Adjustment

= form_for(@form, as: :reporting_cycle_adjustment, url: admin_organization_reporting_cycle_adjustments_path(@organization.id), html: {multipart: true, id: 'cop_form', novalidate: "novalidate"  }) do |form|
  = render 'form', form:form
