#dialog-message{title: "Report complete"}
  .report-progress
    Please wait while we generate your report
  .report-complete{style:'display: none;'}
    %p
      Your report is ready. Download it here:
      %a.report-url
