%h2 Reports

%hr

%dl.left_column
  %h3 Local Networks
  %p Contact information and activity from other networks.

  %ul.report_list
    %li= link_to_report_xls 'Representatives and Contact Persons', :local_networks_all_contacts
    %li= link_to_report_xls 'Events and Activities', :local_networks_events
