%p== Dear #{@user.name_with_title},

%p== Thank you for submitting your organization's Communication on Engagement (COE). Your COE and the self-assessment are now #{link_to "publicly available", cop_detail_url(@cop)} on the Global Compact website.

%p We look forward to receiving your next COE.

%p Sincerely,
%p
  The COP Team
  %br
  United Nations Global Compact
  %br
  = mail_to 'cop@unglobalcompact.org'