%p== Dear #{@user.name_with_title},

%p Thank you for submitting your company’s Communication on Progress (COP). 

%p Sincerely,

%p The Global Compact Office

= render :partial => '/shared/ungc_signature'