To all Contact Points for
%strong== #{@organization.name}:

Thank you for submitting your COP at the Advanced level.

%p Sincerely,

%p The Global Compact Office

= render :partial => '/shared/ungc_signature'