To all Contact Points for
%strong== #{@organization.name}:

%p Your commitment to the UN Global Compact, the world's largest voluntary corporate citizenship initiative, is important. Today, we would like to send you a reminder and offer our assistance regarding your company's Communication on Progress (COP), which is an essential component of this commitment.

%p Please note that your company's Communication on Progress (COP) report will be due in 30 days. The Global Compact requires companies to develop, annually, a COP in order to promote transparency and accountability, showcase best practices and protect the 'investment' made by participants. The COP policy stipulates that companies communicate publicly to their stakeholders on progress made in implementing the Global Compact's ten principles, e.g. through their annual reports, sustainability reports and other prominent corporate communications. 

%p Company participants are required to submit a first COP within two years from the date of joining the Global Compact. Should a company fail to meet this initial submission deadline, they will be marked as 'Non-communicating' in the participant database of the Global Compact website. Further, should a company also miss the second COP deadline after an additional year, the company will be removed from the Global Compact database of active participants and delisted from the Global Compact website.

%p Our records indicate that your company will be listed as 'Non-communicating' if we have not received your COP in the next 30 days.

%p== We offer a wide range of tools and publications for your reference in the #{link_to 'COP section of the Global Compact website', 'http://www.unglobalcompact.org/COP/'}. Please email cop@unglobalcompact.org if you require instructions for submitting a COP.

%p We look forward to hearing from you soon and the timely receipt of your COP.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org