To all Contact Points for
%strong== #{@organization.name}:

%p Thank you for your Organization's engagement in the Global Compact. As a voluntary initiative, we draw strength from our stakeholders' commitments and actions. It is only through the participation of companies like yourselves that the Global Compact has grown to be the world's largest corporate citizenship initiative, with thousands of companies embracing the Compact's ten universal principles. Your active participation is contributing to a more sustainable and inclusive global economy.

%p We would like to remind you that your 'Communication on Progress' (COP) report will be due in 90 days. The Global Compact requires companies to develop, annually, a COP in order to promote transparency and accountability, showcase best practices and protect the 'investment' made by participants. This policy stipulates that companies communicate with their stakeholders about progress in implementing the ten principles through their annual reports, sustainability reports and other prominent corporate communications.

%p== We offer a wide range of tools and publications for your reference in the #{link_to 'http://www.unglobalcompact.org/COP/', 'COP section of the Global Compact website'}. If you have further questions on the COP policy and process, please contact our COP Analyst at cop@unglobalcompact.org.

We look forward to hearing from you soon and the timely receipt of your COP.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org