To all Contact Points for
%strong== #{@organization.name}:

%p Due to the fact that we did not receive your company's COP today, we regret to inform you that your company has been marked as "non-communicating" on our website. This is an automatic sanction in line with our integrity measures. 

%p As you may be aware, the Global Compact requires companies to develop a COP annually in order to promote transparency and accountability, showcase best practices and protect the "investment" made by participants. The COP policy stipulates that companies communicate publicly to their stakeholders on progress made in implementing the Global Compact's ten principles, e.g. through their annual reports, sustainability reports and other prominent corporate communications. 

%p
  We hope that your failure to submit a COP was simply an oversight and that we will receive a COP from you soon. We offer a number of free guidance tools to assist you in the communication process. You can find them on our website at
  %a{:href => "http://www.unglobalcompact.org/COP"}
    http://www.unglobalcompact.org/COP.

%p Please note that companies that are marked as 'non-communicating' for one year will be removed entirely from the Global Compact database of active participants. This means that they can neither participate in Global Compact events nor use the Global Compact logo.

%p If you have further questions on the COP policy and process, please contact our COP Analyst at cop@unglobalcompact.org. Your input can help the Global Compact Office gain a better understanding of the challenges participants face in implementing the principles and in communicating progress.

%p We look forward to hearing from you soon.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org