==To all Network Report Recipients for #{@organization.country_name}:

%p== This message is for your information only. #{@organization.name} was required to Communicate on Progress today, and has now been registered as 'non-communicating' on the Global Compact website.

%p Feel free to contact the Global Compact Office at globalcompact@un.org in case you have further questions. 

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org