To all Contact Points for
%strong== #{@organization.name}:

%p Due to the fact that your company failed to meet the previous COP deadline, your company has been marked as 'non-communicating' on our website for several months. When new participants, who joined after July 1st 2009, fail to submit a COP for one year, they are no longer considered active participants in the initiative and will be delisted. This means that they can neither use the Global Compact logo nor participate in Global Compact events.

%p
  Business participants who became participants before July 1st 2009 still have 2 years after the joining date to submit a COP. Your company's COP was due several months ago and has not been received. Therefore, to ensure your company remains an active participant in the Global Compact, a COP must be submitted in the next 90 days. We have improved our tools and publications to assist your company in returning to 'active' participant status:
  %a{:href => "http://www.unglobalcompact.org/COP"}
    http://www.unglobalcompact.org/COP.
   
%p The Global Compact recognizes that lack of communication by our participants does not necessarily mean that they are not implementing the ten principles. However, the COP does act as a proxy for engagement and, therefore, the policy must be respected by all participants. Our COP team, stands ready to assist your company in meeting this deadline. Please contact them at cop@unglobalcompact.org if you require support in developing or submitting a COP.

%p We look forward to hearing from you soon and receiving your COP.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org