==To all Network Report Recipients for #{@organization.country_name}:

%p== Due to the fact that we have not received a COP from #{@organization.name} for over two years, we regret to inform you that this participant has been removed from the database of active UN Global Compact participants. Effective immediately, this organization can neither use the Global Compact logo nor participate in Global Compact events.  

%p This is an automatic sanction in line with our integrity measures related to COP submission. The Global Compact requires companies to develop, annually, a COP in order to promote transparency and accountability, showcase best practices and protect the 'investment' made by participants. The COP policy stipulates that companies communicate publicly to their stakeholders on progress made in implementing the Global Compact's ten principles, e.g. through their annual reports, sustainability reports and other prominent corporate communications. 

%p We recognize that a lack of communication does not necessarily indicate that companies are not active in implementing the ten principles. However, the COP must act as a proxy for engagement and without that proxy the Global Compact office can draw no conclusion other than to believe these companies have broken their commitment to implementing the Global Compact principles. 

%p We hope that this participant will recommit to the Global Compact by submitting a COP.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org