==To all Network Report Recipients for #{@organization.country_name}:

%p== #{@organization.name} has failed to meet a previous COP deadline, and has been marked as 'non-communicating' on our website for several months. When participants fail to submit a COP for two years in a row, they are no longer considered active participants in the initiative and will be marked as 'delisted' on the Global Compact website. This means that they can neither use the Global Compact logo nor participate in Global Compact events.

%p To ensure that this participant remains active in the Global Compact, a COP must be submitted in the next 30 days. 

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org