To all Contact Points for
%strong== #{@organization.name}:

%p We would like to bring your attention to an increasingly urgent matter related to your participation in the Global Compact. Due to the fact that your company failed to meet the previous deadline for submitting a Communication on Progress (COP), your company has been marked as 'non-communicating' on our website for nearly one year. When participants fail to submit a COP for two years in a row, they are no longer considered active participants in the initiative and will be delisted. This means that they can neither use the Global Compact logo nor participate in Global Compact events.

%p The Global Compact requires companies to develop, annually, a COP in order to promote transparency and accountability, showcase best practices and protect the 'investment' made by participants. The COP policy stipulates that companies communicate publicly to their stakeholders on progress made in implementing the Global Compact's ten principles, e.g. through their annual reports, sustainability reports and other prominent corporate communications. 

%p The Global Compact recognizes that lack of communication by our participants does not necessarily mean that they are not actively implementing the ten principles. However, the COP does act as a proxy for engagement and, therefore, the policy must be respected by all participants.

%p Your company's COP was due almost one year ago and has not been received. Therefore, to ensure your company remains an active participant in the Global Compact, a COP must be submitted in the next 30 days. Please email cop@unglobalcompact.org if you require instructions for submitting a COP.

%p We look forward to hearing from you soon and receiving your COP.

%p Sincerely,

%p The Global Compact Office

United Nations Global Compact
%br/
Two United Nations Plaza
%br/
New York, NY 10017
%br/
Email: globalcompact@un.org
%br/
Website:
%a{:href => "http://www.unglobalcompact.org/"}
  www.unglobalcompact.org