<h2>Buisness Leaders</h2>

<ol>
  <% @business_leaders.each do |submission| %>
    <li><%= link_to submission.organization_name, admin_sdg_pioneers_submission_path(submission) %></li>
  <% end %>
<ol>
