<p>We are excited to announce the launch of the new UN Global Compact Academy, the premier learning platform for sustainable companies. The Academy is designed to give you the knowledge and skills you need to meet your sustainability objectives, mitigate business risk and achieve long-term growth.</p>

<p>As a company engaging with the UN Global Compact at the Participant level, you have exclusive access to:</p>

<ul>
  <li>Virtual Sessions: Expert-led and interactive how-to sessions designed to help companies take action for a more sustainable future</li>
  <li>E-Learning Courses: E-learning tools and resources will help participants learn key concepts anytime, anywhere</li>
  <li>Influencer Series: Designed to provide businesses with intimate access to some of the most prominent leaders from the United Nations and companies shaping the sustainability agenda</li>
  Online Community: Provides access to a global community of sustainable businesses
</ul>

<p>You now have access the <a href="https://academy.unglobalcompact.org" UN Global Compact Academy Learning Platform</a> and can log-in to register for upcoming sessions:</p>

<p>
  Username: <%= @contact.username %><br />
  <%= link_to "Click here to reset password", edit_contact_password_url(reset_password_token: @reset_password_token) %>
</p>
