%p= link_to "#{resource_link.title} (#{resource_link.language.name})", resource_link.url, class: "resource_link #{resource_link.link_type}", target: "_blank", data: {resource_link_id: resource_link.id.to_s}
