#main-header
  position: absolute
  top: 0
  left: 0
  right: 0
  color: white
  background:
    color: rgba(color('dark-teal'), .85)
    blend-mode: multiply
  z-index: 99999
  +font-smoothing(antialiased)

  > .wrapper
    position: static
    padding: 0

  .logo
    display: block
    position: relative
    color: inherit
    padding: .2em 0 .3em 7px
    margin: 0

    h1
      margin: 0
      font-size: 1em
      line-height: 1

    img
      display: block
      height: 2.25em

  @media only screen and (min-width: 681px)
    > .wrapper
      padding: .75em 0 2em

    .logo
      float: left
      padding: 0
      margin: 0 0 0 7px

      img
        height: 3em

  @media only screen and (min-width: 881px)
    > .wrapper
      padding: 1em 0 2.5em

    .logo
      margin-left: 5%

  @media only screen and (min-width: 1001px)
    > .wrapper
      padding: 1.25em 0 3em

    .logo
      margin-left: 6.25%

      img
        height: 3.5em

