#dialog-message
  p
    text-align: left
  p.spinner
    text-align: center
    img
      margin: 0px auto
      width: 16px

.report-dialog
  .ui-dialog-titlebar
    display: none
  .ui-dialog-titlebar-close
    display: none
  .ui-dialog-buttonpane
    display: none

  a.new-large
    cursor: pointer
    //display: inline-block
    text-align: center
    display: block
    margin: 16px auto
    border: 1px solid darken(#f0f0f0, 10%)
    border-radius: 6px
    padding: 13px 35px 11px 35px
    line-height: 1
    position: relative
    background-color: #fefefe
    background-image: -moz-linear-gradient(top,  #fefefe 0%, #f8f8f8 34%, #f9f9f9 39%, #f6f6f6 43%, #f7f7f7 48%, #f5f5f5 50%, #f2f2f2 73%, #efefef 77%, #ececec 100%)
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(34%,#f8f8f8), color-stop(39%,#f9f9f9), color-stop(43%,#f6f6f6), color-stop(48%,#f7f7f7), color-stop(50%,#f5f5f5), color-stop(73%,#f2f2f2), color-stop(77%,#efefef), color-stop(100%,#ececec))
    background-image: -webkit-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
    background-image: -o-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
    background-image: -ms-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
    background-image: linear-gradient(to bottom,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ececec',GradientType=0 )
    &, &:hover
      text-decoration: none !important
      color: #004b5c !important
