// =============================================================================
// ADMIN > RESOURCES
// =============================================================================

// simple debug mixin
=p
  outline:                    1px solid red !important


.topics-tree .topics-list .expanded-list
  padding-top: 8px !important

// -----------------------------------------------------------------------------
// INDEX VIEW
// -----------------------------------------------------------------------------
#main_content fieldset
  .author_table
    select
      margin-left: 0
      width: 615px
    .remove_author
      background: transparent url('../assets/icons/Delete_24x24.png') no-repeat center left
      padding-left: 26px
      height: 24px
      font-size: 12px
      margin: 0 auto
      border: 0
      cursor: pointer
      left: -20px
      display: block
      position: relative
      top: 7px
      font-weight: 700
      color: #14546F




.link_table
  width: 750px
  td, th
    text-align: left
  input, textarea, select
    width: auto !important
    margin: 0 !important
  tbody td:last-child
    text-align: center

.resource-index-table
  margin: 10px 0 15px !important
  .status-cell
    width: 170px
  .action-cell
    width: 66px


// -----------------------------------------------------------------------------
// SHOW VIEW
// -----------------------------------------------------------------------------
.resources-show

  dl.left_column
    margin-top: 20px
    width: 70% !important
    dd
      ol
        padding-bottom: 10px
        li
          margin-bottom: 8px
      img
        max-width: 260px
        border: 1px solid $light_grey
      + dl.left_column
        margin-left: 30px

  .resource-table
    td
      line-height: 1.4
      vertical-align: top !important
  .url
    &, span
      max-width: 300px
    span
      display: inline-block
      word-wrap: break-word
  .title
    max-width: 300px

  ul.document_list li
    a
      float: left
      padding-bottom: 10px
    span.language
      margin-top: 9px
      float: right

.resources-show-container
  padding-left: 20px
  overflow: auto

.resources-link-list li
  overflow: hidden


.resource-img-preview
  background-color: $light_grey
  border: 1px solid $light_grey
  width: 141px
  height: 183px
  overflow: hidden
  img
    border: 0 !important
    max-width: 100%
    margin: 0 auto !important
    display: block

#main_content fieldset .resource-img-preview
  margin: 2px 4px 1px 174px

