 #main_content input.button {
  margin: 10px 0 0 520px;
  clear: both;
}
#main_content fieldset {
  background-color: #fff;
  }
  #main_content fieldset legend {
    color: #aaa; }
    #main_content fieldset legend span {
      position: relative;
      top: 0.5em;
      white-space: normal; }
  #main_content fieldset ol {
    margin: 0;
    padding: 0 0 0 0; }
  #main_content fieldset li {
    list-style: none;
    margin: 0 0 1em -1em; }
  #main_content fieldset label {
    color: #14546f;
    display: block;
    float: left;
    width: 150px; }
  #main_content fieldset input, #main_content fieldset select, #main_content fieldset textarea {
    color: #000;
    margin: 0 5px 0 25px;
    width: 300px;
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 1em; }
  #main_content fieldset input[type='checkbox'] {
    width: auto;
  }
  #main_content fieldset input, #main_content fieldset textarea {
    padding: 0 0 0 3px; }
  #main_content fieldset select {
    width: 305px; }
  #main_content fieldset textarea {
    height: 100px;
    overflow-y: auto; }
  #main_content fieldset fieldset {
    background: #fff; }
    #main_content fieldset fieldset legend {
      color: #14546f;
      font-size: 1em; }
    #main_content fieldset fieldset label {
      display: block;
      width: auto;
      float: none;
      color: #333333; }
    #main_content fieldset fieldset input {
      width: auto;
      margin: 2px 10px 2px 0;
      vertical-align: bottom; }

  #main_content fieldset.pledge {
    margin: 0 0 0 0; }
    #main_content fieldset.pledge input:hover, label:hover {
      cursor: pointer;
    }

  #main_content fieldset.pledge input[type=radio] {
    clear: left;
    float: left;
    width: auto;
    margin: 3px 15px 0px 5px; }

  #main_content fieldset.pledge label {
    display: block;
    float: left;
    width: auto;
    color: #666;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  #main_content fieldset.pledge label.highlight_suggested_amount, #main_content fieldset.pledge table.pledge_amounts th {
    text-align: left;
    color: #00546E;
    font-weight: bold;
  }
    
    #main_content fieldset.pledge table.pledge_amounts th {
    padding-bottom: 15px;
  }

  #main_content fieldset.pledge table.pledge_amounts td.revenue {
    padding-right: 100px;
  }

  #main_content p.note {
    color: #666;
    padding-top: 1em;
  }

  #main_content #check_contact {
    clear: both;
    margin-bottom: 20px;
  }

  #main_content #check_contact input[type=checkbox] {
    clear: left;
    float: left;
    width: auto;
    margin: -1px 10px 0px 0px;
    font-weight: normal;
  }

  #main_content #check_contact label {
   font-weight: normal;
  }

/* Error for flash messages */
#main_content .errorExplanation { color: #A00; }
#main_content div.field_with_errors input {border: 1px solid #EB7272;}

#search { position: absolute; top: 36px; left: 682px; width: auto; }
#search .search_box { width: 210px; height: 2em; background-color: #fff; border: 1px solid #000; margin-right: 10px; opacity: 0.80; -moz-opacity: 0.80; filter:alpha(opacity=80);}
#search p { padding-top: 3px; font-size: 11px; color: #fff; }
#search p label, #search p input {cursor: pointer;}
#search fieldset { border: none; }
