div#participant_search fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
div#participant_search legend {
  font-weight: bold;
  color: #14546f;
  font-size: 1em; }
div#participant_search label {
  font-weight: normal;
  color: #14546f;
  float: left;
  width: 140px;
  cursor: pointer; }
  div#participant_search label.date {
    margin: 0 0 0 0; }
div#participant_search input {
  top: 0;
  margin: 0 0 0 0;
}
div#participant_search input[type=text], div#participant_search select {
  width: 275px;
  border: 1px solid #bbb; }
  div#participant_search input[type=text].datepicker {
    width: auto; }
div#participant_search input[type=radio], div#participant_search input[type=checkbox] {
  float: left;
  margin: 2px 10px 0 0; }
div#participant_search dl.dates {
  margin-right: 0; }
div#participant_search dl dt {
  padding-top: 0px;
  float: left; }
  div#participant_search dl dt.radio {
    text-align: right; }
div#participant_search dl dd {
  clear: right; }
div.ui-datepicker { font-size: 12.5px; }