/*
 *= require_self
*/

body {
  color: #000000;
  background: white;
  font-size: 12pt;
  font-family:  Arial, Helvetica, sans-serif;
}
#header, #leftnav, #footer, #footer_links, p.print, p.send {
  display: none;
}

#rightcontent { position: absolute; top: 10px; left: 25px; }
#rightcontent .copy .hint_text { display: block; margin: 10px 0px;}
#rightcontent .copy .hint_toggle .hint_title { font-weight: bold; line-height: 1.3em;}

/* COP Questionnaire */
#main_content dd ul li.selected_question {
  list-style-type: disc;
  list-style-image: url(/assets/checked.png);
}

#main_content dd ul li.advanced_question, dd ul li.unselected_question {
  list-style-type: circle;
  list-style-image: url(/assets/unchecked.png);
}

#main_content dd ul.basic_question li.question_group, #main_content dd ul.questionnaire li.question_group {
  font-weight: bold;
  color: #00546E;
  margin-top: 1.2em;
  line-height: 1.2em;
  list-style-type: none;
}

#main_content dd ul.self_assessment div.issue_coverage { margin-left: -20px; }
#main_content dt span { line-height: 1.2em; }
#main_content dt span.human_right, span.human_right { color: #F7931E; }
#main_content dt span.labour, span.labour { color: #52C6D8; }
#main_content dt span.environment, span.environment { color: #688442; }
#main_content dt span.anti_corruption, span.anti_corruption { color: #ED1C24; }
span.business_peace { color: #453058; }
