
=p
  outline:                    1px solid red !important

// =media-retina
//   @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 192dpi)
//     @content

// .retina-image
//   +media-retina
//     background-position: 0 0
//     background-repeat: no-repeat
//     min-height: auto !important
//     box-shadow: none !important
//     img
//       visibility: hidden !important

@import 'topics-list'

#resources_featured,
#resources_search
  &.hidden
    display: none

#resources_search
  legend, label
    color: #14546f
  legend
    font-size: 1em
  label
    font-weight: normal

.resources-main
  dt
    padding-top: 7px
  input, select
    padding: 3px 5px
  select
    width: 492px
  input
    width: 482px

#resource_search_author_chosen,
#resource_search_language_chosen
  .chosen-choices, .chosen-results
    margin-left: 0 !important
  .chosen-drop
    margin-top: -9px
  .chosen-choices li
    float: none !important
    margin: 3px 5px !important
  .search-choice-close
    top: 7px
  .search-field
    width: 492px

#resource_search_language_chosen, #resource_search_author_chosen
  width: 504px !important

#resource_search_keyword
  width: 482px !important
  padding: 8px 10px
  margin-top: 5px
  font-size: 11px

#resources_results
  p
    &.result_description
      font-size: 14px
      margin-bottom: 1.5em

.resources_search
  dd > input
    margin-top: 13px
  #resource_search_author_chosen,
  #resource_search_language_chosen
    margin-top: 4px

.resource-toggle-views
  overflow: hidden
  text-align: center
  margin: 5px 0 15px
  font-size: 0
  button
    border: 1px solid #ccc
    background: darken(white, 4%)
    display: inline-block
    padding: 8px 15px
    font-size: 12px
    font-weight: normal
    position: relative
    cursor: pointer
    text-align: center
    width: 105px
    color: #00546E
    &, &:hover
      outline: 0 !important
    &.browse
      border-radius: 3px 0 0 3px
    &.search
      border-radius: 0 3px 3px 0
      border-left: 0
    &.active
      color: black
      background-color: darken(white, 10%)


.results-tools
  list-style: none !important
  margin: 0 !important
  li
    float: left


.results-actions
  float: left
  padding-top: 2px
  li
    margin-right: 15px

.results-filter
  float: right
  li
    margin-left: 15px


.resource-results
  clear: both
  padding-top: 30px
  margin: 0 !important
  list-style: none !important
  > li
    border-top: 1px solid darken(white, 5%)

.button
  border: 1px solid #ccc
  background: darken(white, 10%)
  display: inline-block
  padding: 6px 8px 3px
  line-height: 1
  font-weight: bold
  position: relative
  cursor: pointer
  color: #666 !important
  border-radius: 3px
  &:hover
    text-decoration: none !important
@media screen and (-webkit-min-device-pixel-ratio:0)
  .button
    padding-bottom: 5px


.resouce-block-link
  display: block
  padding: 20px 0
  overflow: hidden
  &:hover
    text-decoration: none !important
    background-color: darken(white, 3%)
  p
    color: black

.resource-result-body
  overflow: hidden
  h4
    margin: 0 0 10px !important
  .detail
    color: #666

.resource-result-img,
.resource-show-img
  float: left
  background-color: darken(white, 2.5%)
  margin-right: 40px
  box-shadow: inset 0 3px 10px -3px rgba(black,0.2)
  border: 1px solid darken(white, 8%)
  img
    display: block
    max-width: 100%

.resource-result-img
  height: 169px
  &, img
    width: 130px

.resource-show-img
  margin-top: 18px
  height: 277px
  &, img
    width: 213px


.resource-show-body
  overflow: hidden
  h3
    margin-bottom: 10px !important
    font-size: 18px !important

.resource-show-details
  dt, dd
    min-height: 19px
  dd
    padding-top: 12px
  p
    line-height: 19px !important
  ul, li, p, a
    margin: 0 !important
  ul, p, a
    padding: 0 !important
  li
    padding: 3px 0 !important
    border-bottom: 0 !important
    &.link
      padding: 6px 0 !important
    &:first-child
      padding-top: 0 !important
  .resource_link
    height: 16px
    background-repeat: no-repeat !important
    background-position: 0 0 !important
    padding-left: 25px !important
    line-height: 16px
    display: block
    position: relative
    top: 1px
    &.web
      background-image: url('../assets/icons/resources/web.png') !important
    &.doc
      background-image: url('../assets/icons/resources/doc.png') !important
    &.pdf
      background-image: url('../assets/icons/resources/pdf.png') !important
    &.mp3
      background-image: url('../assets/icons/resources/mp3.png') !important
    &.ppt
      background-image: url('../assets/icons/resources/ppt.png') !important

.display_shelf-header
  border-bottom: 1px solid
  padding-bottom: 13px
  margin-bottom: 20px
  &, h3
    overflow: hidden
  .view-all
    float: right
    margin-right: -3px
    margin-top: 5px
    &:after
      display: inline-block
      width: 0
      content: ''
      position: relative
      height: 0
      top: 1px
      border: 5px solid transparent
      margin-left: 5px
  h3
    margin: 0 !important
    font-size: 16px !important

.display_shelf
  margin: 0 !important
  padding: 0 0 40px !important
  list-style: none !important
  overflow: hidden
  .resource
    float: left
    margin-left: 37px
    &:first-child
      margin-left: 0
    a
      &, h5
        color: #00546E !important
      &:hover, &:hover h5
        color: black !important
  .image, .resource
    width: 141px
  .title
    font-size: 11px !important
    padding-top: 5px
  .image
    border: 1px solid #ccc
    height: 183px
    overflow: hidden
    background-color: darken(white, 3%)
    &, img
      width: 141px
    img
      margin: 0 auto
  &.embedded-shelf
    margin-left: -54px !important
    .resource
      margin-left: 54px
      margin-bottom: 30px
#rightcontent .copy ul.embedded-shelf
  margin-bottom: -50px !important

a.view-all-resources
  display: inline-block
  text-align: center
  margin-bottom: 30px
  border: 1px solid darken(#f0f0f0, 10%)
  border-radius: 6px
  padding: 13px 35px 11px 20px
  line-height: 1
  position: relative
  background-color: #fefefe
  background-image: -moz-linear-gradient(top,  #fefefe 0%, #f8f8f8 34%, #f9f9f9 39%, #f6f6f6 43%, #f7f7f7 48%, #f5f5f5 50%, #f2f2f2 73%, #efefef 77%, #ececec 100%)
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(34%,#f8f8f8), color-stop(39%,#f9f9f9), color-stop(43%,#f6f6f6), color-stop(48%,#f7f7f7), color-stop(50%,#f5f5f5), color-stop(73%,#f2f2f2), color-stop(77%,#efefef), color-stop(100%,#ececec))
  background-image: -webkit-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
  background-image: -o-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
  background-image: -ms-linear-gradient(top,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
  background-image: linear-gradient(to bottom,  #fefefe 0%,#f8f8f8 34%,#f9f9f9 39%,#f6f6f6 43%,#f7f7f7 48%,#f5f5f5 50%,#f2f2f2 73%,#efefef 77%,#ececec 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ececec',GradientType=0 )
  margin-left: 215px
  &, &:hover
    text-decoration: none !important
    color: #004b5c !important
  &:hover
    background-color: white
    background-image: none
  &:after
    content: '\25BA'
    position: absolute
    right: 15px
    top: 14px

.display_shelf-section
  margin-top: 30px
  &.display_shelf-header
    border-width: 1px

  &.ungc
    .display_shelf-header
      border-bottom-color: #00546E
      h3, .view-all
        color: #00546E !important
    .view-all
      &:after
        border-left-color: #00546E
      &:hover
        color: darken(#00546E, 10%) !important
        &:after
          border-left-color: darken(#00546E, 10%)

  &.human_rights
    .display_shelf-header
      border-bottom-color: #F7931E
      h3, .view-all
        color: #F7931E !important
    .view-all
      &:after
        border-left-color: #F7931E
      &:hover
        color: darken(#F7931E, 10%) !important
        &:after
          border-left-color: darken(#F7931E, 10%)

  &.labour
    .display_shelf-header
      border-bottom-color: #52C6D8
      h3, .view-all
        color: #52C6D8 !important
    .view-all
      &:after
        border-left-color: #52C6D8
      &:hover
        color: darken(#52C6D8, 10%) !important
        &:after
          border-left-color: darken(#52C6D8, 10%)

  &.environment
    .display_shelf-header
      border-bottom-color: #688442
      h3, .view-all
        color: #688442 !important
    .view-all
      &:after
        border-left-color: #688442
      &:hover
        color: darken(#688442, 10%) !important
        &:after
          border-left-color: darken(#688442, 10%)

  &.anticorruption
    .display_shelf-header
      border-bottom-color: #ED1C24
      h3, .view-all
        color: #ED1C24 !important
    .view-all
      &:after
        border-left-color: #ED1C24
      &:hover
        color: darken(#ED1C24, 10%) !important
        &:after
          border-left-color: darken(#ED1C24, 10%)

  &.partnerships
    .display_shelf-header
      border-bottom-color: #CADB2A
      h3, .view-all
        color: #CADB2A !important
    .view-all
      &:after
        border-left-color: #CADB2A
      &:hover
        color: darken(#CADB2A, 10%) !important
        &:after
          border-left-color: darken(#CADB2A, 10%)

  &.networks
    .display_shelf-header
      border-bottom-color: #710000
      h3, .view-all
        color: #710000 !important
    .view-all
      &:after
        border-left-color: #710000
      &:hover
        color: darken(#710000, 10%) !important
        &:after
          border-left-color: darken(#710000, 10%)

  &.business_peace
    .display_shelf-header
      border-bottom-color: #453058
      h3, .view-all
        color: #453058 !important
    .view-all
      &:after
        border-left-color: #453058
      &:hover
        color: darken(#453058, 10%) !important
        &:after
          border-left-color: darken(#453058, 10%)

  &.financial
    .display_shelf-header
      border-bottom-color: #404850
      h3, .view-all
        color: #404850 !important
    .view-all
      &:after
        border-left-color: #404850
      &:hover
        color: darken(#404850, 10%) !important
        &:after
          border-left-color: darken(#404850, 10%)

  &.cop
    .display_shelf-header
      border-bottom-color: #FFD900
      h3, .view-all
        color: #FFD900 !important
    .view-all
      &:after
        border-left-color: #FFD900
      &:hover
        color: darken(#FFD900, 10%) !important
        &:after
          border-left-color: darken(#FFD900, 10%)
