<section class="main-content-section" style="margin: 8em;" >
  <h4 class="flash notice" ><%= @message %></h4>
  <%= link_to "Edit the contact", edit_admin_organization_contact_path(@contact.organization, @contact) %>
</section>
