{{#container/x-form record=model.container submit="save" class="form-horizontal" as |form|}}
  <fieldset>
    <legend>
      {{#if model.layouts}}
        Create Page
      {{else}}
        Edit Page
      {{/if}}
    </legend>

    {{#if model.layouts}}
      <div class="form-group">
        <label for="layout" class="control-label col-sm-2">
          Layout
        </label>
        <div class="col-sm-10">
          {{fast-select
            items=model.layouts
            selected=model.container.layoutRecord
            labelPath="label"
            valuePath="id"
            class="form-control"
            id="layout"}}
        </div>
      </div>
    {{/if}}
  </fieldset>

  {{partial form.templatePathForLayout}}

  <fieldset>
    <legend>Actions</legend>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">
          {{#if model.layouts}}
            Create
          {{else}}
            Save
          {{/if}}
        </button>
      </div>
    </div>
  </fieldset>
{{/container/x-form}}
