<div class="btn-group">
  <button class="btn btn-success" {{action "addContainer"}}>
    Insert Page
  </button>
</div>

{{sitemap/x-tree
  tree=model
  move="moveNodes"
  addContainer="addContainer"
  removeContainer="removeContainer"
  moveContainer="moveContainer"}}

{{outlet "newModal"}}
