<form {{action "save" model.container on="submit"}} class="form-horizontal">
  <fieldset>
    <legend>New Page</legend>
    <div class="form-group">
      <label for="layout" class="control-label col-sm-2">Layout</label>
      <div class="col-sm-10">
        {{fast-select
          items=model.layouts
          selected=model.container.layoutRecord
          labelPath="label"
          valuePath="id"
          class="form-control"
          id="layout"}}
      </div>
    </div>
  </fieldset>

  {{#if formTemplatePath}}
    {{partial formTemplatePath}}
  {{/if}}

  <fieldset>
    <legend>Actions</legend>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Create</button>
      </div>
    </div>
  </fieldset>
</form>
