<form {{action "create" on="submit"}} class="form-horizontal">
  <fieldset>
    <legend>New Page</legend>
    <div class="form-group">
      <label for="layout">Layout</label>
      {{fast-select
        items=layouts
        selected=model.layout
        labelPath="label"
        valuePath="id"
        id="layout"}}
    </div>
  </fieldset>
  <fieldset>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </fieldset>
</form>