<% provide :title, 'Explore Our Library' %>

<%= render 'form' %>

<%= render layout: 'redesign/components/content_blocks', locals: {classes: 'library', blocks: @results} do |block| %>
  <%= render 'redesign/components/resource_block', block: block %>
<% end %>

<%- if @results.empty? -%>
  <section class="main-content-section main-content-section-full-width">
    <article class='component-content-blocks-list'>
      No Results found.
    </article>
  </section>
<% end %>

<%= will_paginate @results, previous_label: "<span>Previous</span>", next_label: "<span>Next</span>" %>
