#footer
  #footer_logos
    %ul
      %li.gcf
        %a{ :href => "http://globalcompactfoundation.org/", :title => "To support the work of the United Nations Global Compact, all participating companies are asked to make an annual voluntary contribution to the Foundation." }
      %li.gri
        %a{ :href => "http://globalreporting.org/", :title => "The Global Reporting Initiative (GRI) provides the world's most widely used sustainability reporting framework, developed through an inclusive multi-stakeholder process." }
      %li.prme
        %a{ :href => "http://unprme.org/", :title => "Principles for Responsible Management Education inspires and champions responsible management education, research and thought leadership globally." }
      %li.pri
        %a{ :href => "http://unpri.org/", :title => "Principles for Responsible Investment helps investors integrate consideration of environmental, social and governance (ESG) issues into investment decision-making and ownership practices." }
      %li.psi
        %a{ :href => "http://unpsi.org/", :title => "Principles for Social Investment encourages social investment that is Purposeful, Accountable, Respectful and Ethical." }
      %li.city
        %a{ :href => "http://citiesprogramme.org/", :title => "Dedicated to the promotion and adoption of the Global Compact's ten principles by cities, and provides a framework for translating the principles into day-to-day urban governance and management." }
#footer_links
  %ul#footer_nav
    %li
      %a{ :href => "http://un.org/" } United Nations
    %li
      %a{ :href => "/WebsiteInfo/privacy_policy.html" } Privacy Policy
    %li
      %a{ :href => "/WebsiteInfo/copyright.html" } Copyright
    %li.last
      %a{ :href => "/AboutTheGC/contact_us.html" } Contact Us