#footer
  #footer_content
    #logos
      %ul
        %li.logo1
          %a{ :href => "http://www.ohchr.org/english/", :title => "Office of the High Commissioner for Human Rights" }
        %li.logo2
          %a{ :href => "http://www.ilo.org/", :title => "International Labour Organization" }
        %li.logo3
          %a{ :href => "http://www.unep.org/", :title => "United Nations Environment Programme" }
        %li.logo4
          %a{ :href => "http://www.unido.org/", :title => "United Nations Industrial Development Organization" }
        %li.logo5
          %a{ :href => "http://www.undp.org/", :title => "United Nations Development Programme" }
        %li.logo6
          %a{ :href => "http://www.unodc.org/", :title => "United Nations Office on Drugs and Crime" }
        %li.logo7
          %a{ :href => "http://www.unpri.org/", :title => "Principles for Responsible Investment" }
        %li.logo8
          %a{ :href => "http://www.unprme.org/", :title => "Principles for Responsible Management Education" }
        %li.logo9
          %a{ :href => "http://www.globalreporting.org/", :title => "Global Reporting Initiative" }
    %ul#footer_nav
      %li.first
        %a{ :href => "http://un.org/" }
          United Nations
      %li
        %a{ :href => "../WebsiteInfo/privacy_policy.html" }
          Privacy Policy
      %li
        %a{ :href => "../WebsiteInfo/copyright.html" }
          Copyright
      %li.last
        %a{ :href => "../AboutTheGC/contact_us.html" }
          Contact Us
    #bulletin_signup
      #bulletin_signup_content{ :title => "To support the work of the United Nations Global Compact, all participating companies are asked to make an annual voluntary contribution to the Foundation." }
        %a{ :href => "http://globalcompactfoundation.org/" }
          %img{ :src => "../../system/modules/org.un.globalcompact.templates/resources/mwdesign/GCN_foundation.png", :height => "50", :width => "194" }
