#footer
  #footer_content
    #logos
      %ul
        %li.logo1
          %a{ :href => "http://www.ohchr.org/english/", :title => "Office of the High Commissioner for Human Rights" }
        %li.logo2
          %a{ :href => "http://www.ilo.org/", :title => "International Labour Organization" }
        %li.logo3
          %a{ :href => "http://www.unep.org/", :title => "United Nations Environment Programme" }
        %li.logo4
          %a{ :href => "http://www.unido.org/", :title => "United Nations Industrial Development Organization" }
        %li.logo5
          %a{ :href => "http://www.undp.org/", :title => "United Nations Development Programme" }
        %li.logo6
          %a{ :href => "http://www.unodc.org/", :title => "United Nations Office on Drugs and Crime" }
    %ul#footer_nav
      %li
        %a{ :href => "http://un.org/" }
          United Nations
      %li
        %a{ :href => "/WebsiteInfo/privacy_policy.html" }
          Privacy Policy
      %li
        %a{ :href => "/WebsiteInfo/copyright.html" }
          Copyright
      %li.last
        %a{ :href => "/AboutTheGC/contact_us.html" }
          Contact Us
    #partner_logos
      %ul
        %li.pri
          %a{ :href => "http://www.unpri.org/", :title => "Principles for Responsible Investment helps investors integrate consideration of environmental, social and governance (ESG) issues into investment decision-making and ownership practices." }
        %li.prme
          %a{ :href => "http://www.unprme.org/", :title => "Principles for Responsible Management Education inspires and champions responsible management education, research and thought leadership globally." }
        %li.gcf
          %a{ :href => "http://globalcompactfoundation.org/", :title => "To support the work of the United Nations Global Compact, all participating companies are asked to make an annual voluntary contribution to the Foundation." }