#header
  #header_content
    #logo
      %a{ :href => "/pages/index.html", :title => "United Nations Global Compact" }
        %img{ :src => "/images/logo.png", :alt => "United Nations Global Compact" }
    #languages
      %ul
        %li
          %a{ :href => "/pages/Languages/arabic/index.html" }
            %img{ :src => "/images/lang_arabic_over.gif", :alt => "Arabic" }
        %li
          %a{ :href => "/pages/Languages/chinese/index.html" }
            %img{ :src => "/images/lang_chinese_over.gif", :alt => "Chinese" }
        %li
          %a{ :href => "/pages/Languages/french/index.html" }
            %img{ :src => "/images/lang_french_over.gif", :alt => "French" }
        %li
          %a{ :href => "/pages/Languages/russian/index.html" }
            %img{ :src => "/images/lang_russian_over.gif", :alt => "Russian" }
        %li
          %a{ :href => "/pages/Languages/spanish/index.html" }
            %img{ :src => "/images/lang_spanish_over.gif", :alt => "Spanish" }
        %li
          %a{ :href => "/pages/Languages/german/index.html" }
            %img{ :src => "/images/lang_deutsch_over.gif", :alt => "German" }
    #search
      %form{ :name => "search", :action => "/dynamic/redirect_search.php", :method => "get" }
        %input.search_box{ :name => "search_terms", :type => "text" }
        %input.search_submit{ :name => "submit", :src => "/images/search_submit.png", :type => "image", :alt => "Search" }
        %p
          %input#search_radio1{ :checked => "checked", :name => "search_option", :type => "radio", :value => "website" }
          %label{ :for => "search_radio1" }
            Search Website
          %input#search_radio2{ :name => "search_option", :type => "radio", :value => "participants" }
          %label{ :for => "search_radio2" }
            Search Participants
  #nav_bg
    .transparency
    #nav
      %ul
        %li#aboutus.aboutus{ :onmouseover => "makeChildVisible('aboutus')", :onmouseout => "makeChildInvisible('aboutus')" }
          %a{ :href => "/pages/AboutTheGC/index.html" }
            About Us
          %ul
            %li
              %a{ :href => "/pages/AboutTheGC/index.html" }
                Overview
            %li
              %a{ :href => "/pages/AboutTheGC/TheTenPrinciples/index.html" }
                The Ten Principles
            %li
              %a{ :href => "/pages/AboutTheGC/stages_of_development.html" }
                Global Compact Governance
            %li
              %a{ :href => "/pages/AboutTheGC/The_Global_Compact_Board.html" }
                The Global Compact Board
            %li
              %a{ :href => "/pages/AboutTheGC/Government_Support.html" }
                Government Support
            %li
              %a{ :href => "/pages/AboutTheGC/integrity.html" }
                Integrity Measures
            %li
              %a{ :href => "/pages/AboutTheGC/Global_Compact_Logo/index.html" }
                Global Compact Logo
            %li
              %a{ :href => "/pages/AboutTheGC/faq.html" }
                FAQ
            %li
              %a{ :href => "/pages/AboutTheGC/publications.html" }
                Tools and Resources
            %li
              %a{ :href => "/pages/AboutTheGC/Internship_at_the_Global_Compact.html" }
                Internships in the Global Compact Office
            %li
              %a{ :href => "/pages/AboutTheGC/The_GC_Foundation.html" }
                Foundation for the Global Compact
            %li
              %a{ :href => "/pages/AboutTheGC/contact_us.html" }
                Contact Us
        %li#participate.participate{ :onmouseover => "makeChildVisible('participate')", :onmouseout => "makeChildInvisible('participate')" }
          %a{ :href => "/pages/HowToParticipate/index.html" }
            How to Participate
          %ul
            %li
              %a{ :href => "/pages/HowToParticipate/index.html" }
                Overview
            %li
              %a{ :href => "/pages/HowToParticipate/Business_Participation/index.html" }
                Business Participation
            %li
              %a{ :href => "/pages/HowToParticipate/civil_society/index.html" }
                Civil Society
            %li
              %a{ :href => "/pages/HowToParticipate/academic_network/index.html" }
                Academic Participation
            %li
              %a{ :href => "/pages/HowToParticipate/business_associations.html" }
                Business Associations
            %li
              %a{ :href => "/pages/HowToParticipate/labour.html" }
                Labour
            %li
              %a{ :href => "/pages/HowToParticipate/cities.html" }
                Cities
            %li
              %a{ :href => "/pages/HowToParticipate/Engagement_Opportunities/index.html" }
                Engagement Opportunities
        %li#communicating.communicating{ :onmouseover => "makeChildVisible('communicating')", :onmouseout => "makeChildInvisible('communicating')" }
          %a{ :href => "/pages/COP/index.html" }
            Communicating Progress
          %ul
            %li
              %a{ :href => "/pages/COP/index.html" }
                Overview
            %li
              %a{ :href => "/pages/COP/cop_search.html" }
                COP Search
            %li
              %a{ :href => "/pages/COP/notable_cops.html" }
                Notable COPs
            %li
              %a{ :href => "/pages/COP/Guidance_Material/index.html" }
                Guidance Material
            %li
              %a{ :href => "/pages/COP/non_communicating.html" }
                Non-Communicating Participants
            %li
              %a{ :href => "/pages/COP/inactives.html" }
                Inactive Participants
            %li
              %a{ :href => "/pages/COP/case_search.html" }
                Case Search
        %li#participants.participants{ :onmouseover => "makeChildVisible('participants')", :onmouseout => "makeChildInvisible('participants')" }
          %a{ :href => "/pages/ParticipantsAndStakeholders/index.html" }
            Participants &amp; Stakeholders
          %ul
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/index.html" }
                Overview
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/search_participant.html" }
                Participant Search
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/un_agencies/index.html" }
                UN Agencies
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/business_associations.html" }
                Business Associations
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/labour.html" }
                Labour
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/civil_society.html" }
                Civil Society
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/academic_participation.html" }
                Academic Participants
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/public_sector.html" }
                Public Sector
            %li
              %a{ :href => "/pages/ParticipantsAndStakeholders/cities.html" }
                Cities
        %li#networks.networks{ :onmouseover => "makeChildVisible('networks')", :onmouseout => "makeChildInvisible('networks')" }
          %a{ :href => "/pages/NetworksAroundTheWorld/index.html" }
            Local Networks
          %ul
            %li
              %a{ :href => "/pages/NetworksAroundTheWorld/index.html" }
                Overview
            %li
              %a{ :href => "/pages/NetworksAroundTheWorld/Meetings_and_Events.html" }
                Meetings and Events
            %li
              %a{ :href => "/pages/NetworksAroundTheWorld/Guidelines_and_Recommendations.html" }
                Guidelines and Recommendations
            %li
              %a{ :href => "/pages/NetworksAroundTheWorld/networks_news.html" }
                Network News Archive
            %li
              %a{ :href => "/pages/NetworksAroundTheWorld/gc_networks_report_on_activities.html" }
                Local Networks Report on Activities
        %li#issues.issues{ :onmouseover => "makeChildVisible('issues')", :onmouseout => "makeChildInvisible('issues')" }
          %a{ :href => "/pages/Issues/index.html" }
            Issues
          %ul
            %li
              %a{ :href => "/pages/Issues/index.html" }
                Overview
            %li
              %a{ :href => "/pages/Issues/human_rights/index.html" }
                Human Rights
            %li
              %a{ :href => "/pages/Issues/Labour/index.html" }
                Labour
            %li
              %a{ :href => "/pages/Issues/Environment/index.html" }
                Environment
            %li
              %a{ :href => "/pages/Issues/transparency_anticorruption/index.html" }
                Anti-Corruption
            %li
              %a{ :href => "/pages/Issues/conflict_prevention/index.html" }
                Business and Peace
            %li
              %a{ :href => "/pages/Issues/financial_markets/index.html" }
                Financial Markets
            %li
              %a{ :href => "/pages/Issues/partnerships/index.html" }
                Partnerships for Development
            %li
              %a{ :href => "/pages/Issues/Business_Partnerships/index.html" }
                UN/Business Partnerships
        %li#newsevents.newsevents{ :onmouseover => "makeChildVisible('newsevents')", :onmouseout => "makeChildInvisible('newsevents')" }
          %a{ :href => "/pages/NewsAndEvents/index.html" }
            News &amp; Events
          %ul
            %li
              %a{ :href => "/pages/NewsAndEvents/index.html" }
                Recent Headlines
            %li
              %a{ :href => "/pages/NewsAndEvents/upcoming_events_2009.html" }
                Event Calendar
            %li
              %a{ :href => "/pages/NewsAndEvents/UNGC_bulletin/index.html" }
                Monthly Bulletin
            %li
              %a{ :href => "/pages/NewsAndEvents/Speeches.html" }
                Speeches
            %li
              %a{ :href => "/pages/NewsAndEvents/Academic_Literature.html" }
                Academic Literature
            %li
              %a{ :href => "/pages/NewsAndEvents/news_archives/index.html" }
                Archive
            %li
              %a{ :href => "/pages/NewsAndEvents/media_contacts.html" }
                Media Contacts
        %li#login.login{ :onmouseover => "makeChildVisible('login')", :onmouseout => "makeChildInvisible('login')" }
          %a{ :href => "/admin/index.html" }
            Login
          %ul.login
            %li
              %a{ :href => "http://demo.unglobalcompact.org/admin/index.html" }
                Participant Login
            %li
              %a{ :href => "http://demo.unglobalcompact.org/admin/forgot_password.php" }
                Retrieve Password
