#header
  #header_content
    #logo
      %a{ :href => "/index.html", :title => "United Nations Global Compact" }
        %img{ :src => "/assets/logo.png", :alt => "United Nations Global Compact" }
    #languages
      %ul
        %li
          %a{ :href => "/Languages/arabic/index.html" }
            &#x639;&#x631;&#x628;&#x64A;
        %li
          %a{ :href => "/Languages/chinese/index.html" }
            &#x4E2D;&#x6587;
        %li
          %a{ :href => "/Languages/french/index.html" }
            Fran&ccedil;ais
        %li
          %a{ :href => "/Languages/russian/index.html" }
            &#x420;&#x443;&#x441;&#x441;&#x43A;&#x438;&#x439;
        %li
          %a{ :href => "/Languages/spanish/index.html" }
            Espa&ntilde;ol
        %li
          %a{ :href => "/Languages/german/index.html" }
            Deutsch
        %li
          %a{ :href => "/Languages/portuguese/index.html" }
            Portugu&ecirc;s

    #search
      %form{ :action => "/search", :method => "get" }
        %fieldset
          %input.search_box{ :name => "keyword", :type => "text" }
          %input.search_submit{ :name => "submit", :src => "/assets/search_submit.png", :type => "image", :alt => "Search" }
          %p
            %input#search_radio1{ :checked => "checked", :name => "target", :type => "radio", :value => "" }
            %label{ :for => "search_radio1", :style => 'margin-right: 10px;' } Search website
            %input#search_radio2{ :name => "target", :type => "radio", :value => participant_search_path, :checked => participant_search?(:participant) }
            %label{ :for => "search_radio2" } Search participants
  #nav_bg
    .transparency
    #nav= top_nav_bar
