#header
  #header_content
    #logo
      %a{ :href => "/index.html", :title => "United Nations Global Compact" }
        %img{ :src => "/images/logo.png", :alt => "United Nations Global Compact" }
    #languages
      %ul
        %li
          %a{ :href => "/Languages/arabic/index.html" }
            %img{ :src => "/images/lang_arabic_over.gif", :alt => "Arabic" }
        %li
          %a{ :href => "/Languages/chinese/index.html" }
            %img{ :src => "/images/lang_chinese_over.gif", :alt => "Chinese" }
        %li
          %a{ :href => "/Languages/french/index.html" }
            %img{ :src => "/images/lang_french_over.gif", :alt => "French" }
        %li
          %a{ :href => "/Languages/russian/index.html" }
            %img{ :src => "/images/lang_russian_over.gif", :alt => "Russian" }
        %li
          %a{ :href => "/Languages/spanish/index.html" }
            %img{ :src => "/images/lang_spanish_over.gif", :alt => "Spanish" }
        %li
          %a{ :href => "/Languages/german/index.html" }
            %img{ :src => "/images/lang_deutsch_over.gif", :alt => "German" }
    #search
      %form{ :name => "search", :action => "/dynamic/redirect_search.php", :method => "get" }
        %input.search_box{ :name => "search_terms", :type => "text" }
        %input.search_submit{ :name => "submit", :src => "/images/search_submit.png", :type => "image", :alt => "Search" }
        %p
          %input#search_radio1{ :checked => "checked", :name => "search_option", :type => "radio", :value => "website" }
          %label{ :for => "search_radio1" }
            Search Website
          %input#search_radio2{ :name => "search_option", :type => "radio", :value => "participants" }
          %label{ :for => "search_radio2" }
            Search Participants
  #nav_bg
    .transparency
    #nav= top_nav_bar
