<!--[if lte IE 6]>
<div style="padding: 15px; background-color: #E5EEF0;">
  <p>Thank you for visiting our website. Unfortunately, your web browser, Internet Explorer 6, was discontinued in 2006 and is no longer supported. Please download the current version, <a class="ie6expl" href="http://www.microsoft.com/windows/internet-explorer/">Internet Explorer 9</a>, available for free from Microsoft. You may also download a modern browser such as <a href="http://mozilla.com">Firefox</a>, <a href="http://www.google.com/chrome/">Chrome</a>, or <a class="ie6expl" href="http://www.apple.com/safari/download/">Safari</a>.</p>
</div>
<style type="text/css" media="screen">#nav, #nav_bg, #footer, #logo, #search, p.print, p.send {visibility: hidden; }</style>
<![endif]-->
