#inner_head
  %p.print
    %a{ :href => "javascript:window.print();" }
      Print
  %p.send
    %a{ :href => "mailto:?subject=Communicating Progress&body=This%20page%20is%20available%20on%20the%20Global%20Compact%20Website%0A%0Ahttp://demo.unglobalcompact.org/COP/index.html" }
      Email
