#inner_head
  %p.print
    %a{ :href => "javascript:window.print();" }
      Print
  %p.send
    %a{ :href => "mailto:?subject=#{@title}&body=United%20Nations%20Global%20Compact%20website:%0A%0A#{request.env["REQUEST_URI"]}"}
      Email