- if logged_in?
  #user-bar-greeting== Logged in as #{current_user.name_with_title}
  #user-bar-action
    = link_to "Log out", logout_path, :method => :delete, :title => "Log out"
- else
  #user-bar-action
    = link_to "Log in", login_path, :title => "Log in"
