#session_info{:class => "span-6 push-1 sidebar"}
  %h2 Session info
  %ul
    %li.logged_in_as
      You are logged in as: <br />
      = link_to current_contact.name_with_title, "#", :class => "username"
      ==<small>(#{link_to "Log out", destroy_contact_session_path, :method => :delete, :title => "Log out"})</small>

#tools{:class => "span-6 push-1 sidebar"}
  %h2 Tools
  %ul
    %li#edit_org= possibly_link_to_organization
    %li#edit_org= possibly_link_to_edit_organization
