#session_info{:class => "span-6 push-1 sidebar"}
  %h2 Session info
  %ul
    %li.logged_in_as 
      You are logged in as: <br />
      - link_to current_user.name_with_title, "#", :class => "username"
      ==<small>(#{link_to "Log out", logout_path, :method => :delete, :title => "Log out"})</small>
