<h2>Action Platforms</h2>

<ul>
  <% @action_platforms.each do |platform| %>
    <li><%= platform.name %></li>
  <% end %>
</ul>

<%= link_to "Signup for Action Platforms", new_admin_action_platform_subscription_path %>
